@model IEnumerable<RRHH.Models.LiquidacionDetalle>
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Index";
    var _perfil_id = @HttpContextAccessor.HttpContext.Session.GetInt32("PERFIL_ID");
    var nro_item = 0; 
    }


     <form id="form1" method="post" enctype="multipart/form-data" class="form-floating">
         

             

     <div class="container-fluid">
         <div class="jumbotron text-center Titulo bottom-buffer ">
          <h2>Liquidacion: @ViewData["ANIO"] - @ViewData["MES"]</h2>
          </div>

          <center>
 
              
          <div class="row mb-3" >
                 <div class="col-lg-2 col-xs-6 mb-3">
                      <label for="filtro">Legajo / Apellido</label>
                      <input name="filtro" id="filtro"  placeholder="Filtro" value="@ViewData["FiltroActual"]" class="form-control" />                                          
                </div>
                <div class="col-lg-6 col-xs-6 mb-3" id="divEmpleado">
                    <label for="legajo_id">Empleado</label>
                    <select  data-filter="model" class="form-control" name="legajo_id" id="legajo_id" value="@ViewData["EmpleadoActual"]" ></select>           
                </div>

                <div class="col-sm-4 col-xs-6 mb-3">
               <label for="empresa_id">Empresa</label>
			   <select name="empresa_id" id="empresa_id" data-filter="make" class="filter-make filter form-control" value="@ViewData["EMPRESA_ID"]"></select>
			  </div>
             </div>
            <div class="row mb-3" >
            <div class="col-sm-4 col-xs-6 mb-3">
               <label for="ubicacion_id">Ubicación</label>
			   <select name="ubicacion_id" id="ubicacion_id" data-filter="make" class="filter-make filter form-control" value="@ViewData["UBICACION_ID"]"></select>
			</div>
             <div class="col-sm-4 col-xs-6 mb-3">
               <label for="sector_id">Sector/Local</label>
			   <select name="sector_id" id="sector_id" data-filter="make" class="filter-make filter form-control"  value="@ViewData["SECTOR_ID"]"></select>
			</div>

              </div>  



             <div class="row mb-3" >
                <div class="col">
                   
                     <input type="submit" value="Buscar" id="buscar" asp-action="Buscar" asp-route-liquidacion_id=@ViewData["LiquidacionActual"] class="btn btn-primary" />
                     <input type="submit" value="Limpiar" asp-action="Limpiar" asp-route-liquidacion_id=@ViewData["LiquidacionActual"] class="btn btn-primary" title="Limpiar todos los datos de la búsqueda"  />
    

                     <input type="submit" asp-action="ExportarExcel" asp-route-liquidacion_id=@ViewData["LiquidacionActual"]   value="Exportar a Excel" class="btn btn-primary" />

                     <input type="button" id="btnImprimir" value="Imprimir" class="btn btn-primary" />

                     @if ((int)ViewData["Estado"]==0 ) {
                        <input type="submit" asp-action="Generar" asp-route-liquidacion_id=@ViewData["LiquidacionActual"]   value="Generar Liquidación" class="btn btn-primary" />
                     }

                     <a type="button" id="cmdSalir" class="btn btn-success" asp-controller="Liquidacion" asp-action="Index">SALIR</a>

                </div>
             </div>


             <div class="row">
                <div class="col bottom-buffer">
                    <span id="spanTitulo"></span>
                </div>
            </div>

        
                <div id="divPrint">

                @if (@Model != null && Model.Count()>0)
                {
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col bottom-buffer">
                             <div style="background-color: white ; padding: 10px; border: 1px solid black; text-align:center;">
                         </div>
                       </div>
                       
                    

                   </div>
                    
   
                    <div class="row">
                        <div class="col bottom-buffer">
                            <div class="table-responsive">


                                <table id="tablaDetalle" class="table table-bordered table-hover table-condensed">
                                    <thead>
                                       
                                        <tr >
                                            <th>Nro. Legajo</th>
                                            <th>Apellido</th>
                                            <th>Nombre</th>
                                            <th>Hs. 50</th>
                                            <th>Hs. 50 Fds</th>
                                            <th>Hs. 100</th>
                                            <th>Hs. Fer</th>
                                            <th>Enfer</th>
                                            <th>Accid</th>
                                            <th>Dias Susp</th>
                                            <th>Dias Desc</th>
                                            <th>Dias Vac</th>
                                            <th>Desc Hs.</th>
                                            <th>Pr. Pre</th>
                                            <th>Pr. Asi</th>
                                            <th>Pr. Hor</th>
                                            <th>Fecha</th>
                                            <th></th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                    @foreach (var item in Model)
                                    {
                                        

                                        nro_item = nro_item + 1;

                                        

                                            <tr >
                                               
                                                <td>
                                                  @item.nro_legajo
                                                </td>
                                                <td>
                                                  @item.apellido
                                                </td>

                                                <td>
                                                  @item.nombre    
                                                </td>
                                                <td>
                                                  @item.hs_50
                                                </td>
                                                <td>
                                                  @item.hs_50_fds
                                                </td>
                                                 <td>
                                                  @item.hs_100   
                                                </td>
                                                <td>
                                                  @item.hs_feriado
                                                </td>
                                                <td>
                                                  @item.enfermedad
                                                </td>
                                                 <td>
                                                  @item.accidente
                                                </td>
                                                 <td>
                                                  @item.dias_suspension
                                                </td>
                                                 <td>
                                                  @item.dias_descuento
                                                </td>
                                                 <td>
                                                  @item.dias_vacaciones
                                                </td>
                                                 <td>
                                                  @item.descuento_horas
                                                </td>
                                                <td>
                                                  @item.premio_presentismo
                                                </td>
                                                <td>
                                                  @item.premio_puntualidad
                                                </td>
                                                <td>
                                                  @item.premio_horas
                                                </td>                   
                                                <td>
                                                     @Convert.ToDateTime(@item.fecha_alta).ToString("dd/MM/yyyy")
                                                </td>
                                                   <td style="font-size:16px;">
                                                    @*  <a asp-controller="LiquidacionDetalle" asp-action="Edit" asp-route-id=@item.id asp-route-liquidacion_id=@item.liquidacion_id ><i data-mdb-toggle='tooltip' title='Editar el detalle de la liquidación' class='bi bi-pencil-square'></i></a>
                                                      <a onclick="mostrarModalEliminar('@item.id');" ><i data-mdb-toggle='tooltip' title='Eliminar el detalle de la liquidación' class='bi bi-x-circle'></i></a>                 
                     *@                           </td>
                                            </tr>

                                    }
                                    </tbody>
                    </table>
                  </div>
                </div>
             </div>
         }
                   

             </div>
             </center>



     

    </form>

    <div id="partialModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Detalle de la liquidación</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


     <script type="text/javascript">

    $(document).ready(function() {
        var CodEmpresa = @Html.Raw(Json.Serialize(ViewData["EMPRESA_ID"]));
        var CodUbicacion = @Html.Raw(Json.Serialize(ViewData["UBICACION_ID"]));
        var Filtro = @Html.Raw(Json.Serialize(ViewData["FiltroActual"]));

        var CodLiquidacion = @Html.Raw(Json.Serialize(ViewData["LiquidacionActual"]));

        var item_actual = @Html.Raw(Json.Serialize(ViewData["ITEM_ACTUAL"]));
          
     
        if(item_actual>0) ubicarFila(item_actual);

        //if ($("#nro_legajo").val() <=0) 
        //{
        //    $("#nro_legajo").val('');
        //}

        
        ObtenerEmpresas();
        
       ObtenerUbicaciones();

       if (CodUbicacion== 1 || CodUbicacion == 2 || CodUbicacion == 4) {
            ObtenerSectores(CodUbicacion);
        }
        else {
           if (CodUbicacion ==3) {
               ObtenerLocales();;
           }
            else {
                $("#sector_id").val(-1);
           }
        }

        if (Filtro != null && Filtro!='') { 
            $("#divEmpleado").show();

        }
        else { 
           $("#divEmpleado").hide();
           $("#legajo_id").val(-1).change();
        }

           ObtenerEmpleados(Filtro);


    });

  $("#ubicacion_id").change(function () {
       if ($("#ubicacion_id").val() == 1 || $("#ubicacion_id").val() == 2 || $("#ubicacion_id").val() == 4) {
            ObtenerSectores($("#ubicacion_id").val());
        }
        else {
           if ($("#ubicacion_id").val() == 3) {
               ObtenerLocales();
           }
           else {
                $("#sector_id").val(-1);
           }
        }
      });
    
      $("#filtro").change(function () {

             if ($("#filtro").val() != '') {            
                 $("#divEmpleado").show();
             }
             else {
               $("#divEmpleado").hide();
               $("#legajo_id").val(-1).change();
             }

              ObtenerEmpleados($("#filtro").val());

         });


         // $("#nro_legajo").focusout(function () {
         //    if ($("#nro_legajo").val() != '')
         //        ObtenerLegajo($("#empresa_id").val(), $("#nro_legajo").val());

         //});


         //$("#empresa_id").focusout(function () {
         //    alert($("#nro_legajo").val());
         //    if($("#nro_legajo").val()!='')
         //    ObtenerLegajo($("#empresa_id").val(), $("#nro_legajo").val())
         //});


         $("#empresa_id").change(function () {
           var Legajo = @Html.Raw(Json.Serialize(ViewData["LegajoActual"]));

           ObtenerUbicaciones($("#empresa_id").val());
           
           $("#ubicacion_id").val(-1);

           if ($("#ubicacion_id").val() == 1 || $("#ubicacion_id").val() == 2 || $("#ubicacion_id").val() == 4) {
             ObtenerSectores($("#ubicacion_id").val(),$("#empresa_id").val());
           }
           else {
             if ($("#ubicacion_id").val() == 3) {
               ObtenerLocales($("#empresa_id").val());
             }
             else {
               $('#sector_id').find('option').remove();
               $("#sector_id").val(-1);
             }
         }

      //   ObtenerLegajos($("#empresa_id").val(), Legajo,$("#ubicacion_id").val(),$("#sector_id").val(),$("#filtro").val() )



      });

 var ObtenerEmpresas = function () {
                 var CodEmpresa =@Html.Raw(Json.Serialize(ViewData["EMPRESA_ID"]));
                 $.ajax({
                    url: '@Url.Action("ObtenerEmpresas","Legajo")',
                    type: 'GET',
                    data: {
                    },
                    success: function (data) {
                        $('#empresa_id').find('option').remove()
                        $(data).each(
                            function (index, item) {            
                                if (item.value==CodEmpresa)
                                  $('#empresa_id').append('<option value="' + item.value + '" selected>' + item.text + '</option>')
                                else 
                                  $('#empresa_id').append('<option value="' + item.value + '">' + item.text + '</option>')                        
                            });
                    },
                    error: function () {
                    }
              });
            }

    var ObtenerUbicaciones = function () {
         var CodUbicacion =@Html.Raw(Json.Serialize(ViewData["UBICACION_ID"]));
         $.ajax({
            url: '@Url.Action("ObtenerUbicaciones","Legajo")',
            type: 'GET',
            data: {
            },
            success: function (data) {
                $('#ubicacion_id').find('option').remove()
                $(data).each(
                    function (index, item) {            
                        if (item.value==CodUbicacion)
                          $('#ubicacion_id').append('<option value="' + item.value + '" selected>' + item.text + '</option>')
                        else 
                          $('#ubicacion_id').append('<option value="' + item.value + '">' + item.text + '</option>')                        
                    });
            },
            error: function () {
            }
      });
    }

     var ObtenerSectores = function (ubicacion_id) {
             var CodSector = @Html.Raw(Json.Serialize(ViewData["SECTOR_ID"]));

             $.ajax({
                url: '@Url.Action("ObtenerSectores","Legajo")',
                type: 'GET',
                 data: {
                ubicacion_id: ubicacion_id
                },
                success: function (data) {
                    $('#sector_id').find('option').remove()
                    $(data).each(
                        function (index, item) {   
                            if (item.value==CodSector)
                              $('#sector_id').append('<option value="' + item.value + '" selected>' + item.text + '</option>')
                            else 
                              $('#sector_id').append('<option value="' + item.value + '">' + item.text + '</option>')
                        });
                },
                error: function () {
                }
          });
        }

        var ObtenerLocales = function () {
             var CodLocal = @Html.Raw(Json.Serialize(ViewData["SECTOR_ID"]));
             $.ajax({
                url: '@Url.Action("ObtenerLocales","Legajo")',
                type: 'GET',
                data: {
                },
                success: function (data) {
                    $('#sector_id').find('option').remove()
                    $(data).each(
                        function (index, item) {   
                            if (item.value==CodLocal)
                              $('#sector_id').append('<option value="' + item.value + '" selected>' + item.text + '</option>')
                            else 
                              $('#sector_id').append('<option value="' + item.value + '">' + item.text + '</option>')
                        });
                },
                error: function () {
                }
          });
        }


         var ObtenerLegajo = function (empresa_id, nro_legajo) {
             $.ajax({
                url: '@Url.Action("ObtenerLegajo","Novedad")',
                type: 'GET',
                contentType: 'application/json',
                dataType: 'json',
                data: {
                    empresa_id: empresa_id,
                    nro_legajo: nro_legajo
                },
                success: function (data) {
                    $('#apellido').val(data.apellido);
                    $('#empresa_id').val(data.empresa_id);

                   
                },
                error: function () {
                 
                }
          });
        }

        var ObtenerEmpleados = function (filtro) {
             var CodEmpleado =@Html.Raw(Json.Serialize(ViewData["EmpleadoJustificacionActual"]));

             $.ajax({
                url: '@Url.Action("ObtenerEmpleados","Legajo")',
                type: 'GET',
                contentType: 'application/json',
                dataType: 'json',
                data: {
                    filtro: filtro
                },
                success: function (data) {
                    $('#legajo_id').find('option').remove()
     
                    $(data).each(
                        function (index, item) {            
                            if (item.value==CodEmpleado)
                              $('#legajo_id').append('<option value="' + item.value + '" selected>' + item.text + '</option>')
                             else 
                              $('#legajo_id').append('<option value="' + item.value + '">' + item.text + '</option>')                        
                        }
                        );  

                },
                error: function () {
                 
                }
          });
        }



    function mostrarModalEliminar(id){
          $("#hfID").val(id);
          $("#mdEliminar").modal('show');

         }

       function printData()
       {
          
         $("#tablaDetalle th:last-child, #tablaDetalle td:last-child").hide();
         //$("#divCabecera").show();

         var divToPrint=document.getElementById("divPrint");
         var htmlToPrint = '' +
            '<style type="text/css">' +
            'body {' +
             'margin-top: 30px;' + 
             'margin-bottom: 20px;' + 
             '} ' +
            'table , table th, table td {' +
            'font-size: 10px;' + 
            'border:1px solid;' +
            'border-collapse: collapse;' +
            'padding:0.5em;' +
            '} ' +
            'table {' +
            'width: 100%;' + 
            'margin-bottom: 20px;' + 
            '} ' +
            //'#spanSanciones  {' +
            //'display:inline-block;' +
            // '} ' +
            //'#spanFelicitaciones  {' +
            //'display:inline-block;' +
            // '} ' +
            '</style>';
         htmlToPrint += divToPrint.outerHTML;
         newWin= window.open("");
         //newWin.document.write( htmlToPrint);
         //newWin.document.close();
         //newWin.print();
         //newWin.close();
         $("#tablaDetalle th:last-child, #tablaDetalle td:last-child").show();
         //$("#divCabecera").hide();

         var is_chrome = Boolean(newWin.chrome);
         newWin.document.write(htmlToPrint);
         newWin.document.close(); // necessary for IE >= 10 and necessary before onload for chrome

       if (is_chrome) {
        newWin.onload = function() { // wait until all resources loaded 
            newWin.focus(); // necessary for IE >= 10
            newWin.print();  // change window to mywindow
            newWin.close();// change window to mywindow
        };
    }
    else {
        newWin.document.close(); // necessary for IE >= 10
        newWin.focus(); // necessary for IE >= 10
        newWin.print();
        newWin.close();
    }


      }

    $('#btnImprimir').on('click',function(){
    printData();
    })


    function ubicarFila(item_actual){

        $('#tablaDetalle').find('tr').eq(item_actual).addClass('activa');

        var w = $(window);
        var row = $('#tablaDetalle').find('tr').eq(item_actual);
   
  
         if (row.length){
           w.scrollTop( row.offset().top - (w.height()/2) );
          }
    }


    </script>




    @if (ViewBag.Message != null)
{
        <script type="text/javascript">
                window.onload = function () {
                    alert("@ViewBag.Message");
                };
        </script>
}
