@model RRHH.Models.Usuario
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Edición de usuario";
    var _perfil_id = @HttpContextAccessor.HttpContext.Session.GetInt32("PERFIL_ID");
}

<form asp-action="Edit" method="post">
<div class="container">
<h2>Edición de usuario</h2>

       
            <div class="row ">
                <div class="col bottom-buffer">
                <label asp-for="UsuarioID" class="control-label">Usuario</label>
                <input asp-for="UsuarioID" class="form-control" readonly />
                <span class="alert-danger" asp-validation-for="UsuarioID"></span>
                </div>
            </div>

             <div class="row ">
                <div class="col bottom-buffer">
                <label asp-for="Nombre" class="control-label">Nombre</label>
                @if (_perfil_id == 1)
                {
                    <input asp-for="Nombre" class="form-control"  />
                }
                else
                {
                     <input asp-for="Nombre" class="form-control" readonly />
                }
                <span class="alert-danger" asp-validation-for="Nombre"></span>
              </div>
            </div>
             <div class="row ">
                <div class="col bottom-buffer">
                <label asp-for="Apellido" class="control-label">Apellido</label>
               
                 @if (_perfil_id == 1)
                {
                    <input asp-for="Apellido" class="form-control" />
                }
                else
                {
                     <input asp-for="Apellido" class="form-control" readonly />
                }
                 <span class="alert-danger" asp-validation-for="Apellido"></span>
                 </div>
            </div>

              <div class="row" id="divPerfil">
                   <div class="col bottom-buffer" id="divTipoNovedad">
                     <label asp-for="perfil_id" class="control-label">Perfil</label>

                      @if (_perfil_id == 1 || _perfil_id==2 && @Model.perfil_id!=1)
                     {
                       <select  class="form-control" id="perfil_id" asp-for="perfil_id" ></select>
                     }
                     else
                     {
                        <select  class="form-control" id="perfil_id" asp-for="perfil_id" disabled ></select>
                     }


                     
                     <span class="alert-danger" asp-validation-for="perfil_id"></span>
                   </div>
            </div>

            <div class="row mb-3" id="divLegajo" >
               <div class="col-lg-2 col-xs-6 mb-3">
                  <label for="filtro">Legajo / Apellido</label>
                  <input name="filtro" id="filtro"  placeholder="Filtro" value="@ViewData["FiltroActual"]" class="form-control" />                                          
			  </div>
			  <div class="col-lg-6 col-xs-6 mb-3">
                <label for="legajo_id">Empleado</label>
                <select  data-filter="model" class="form-control" asp-for="legajo_id" name="legajo_id" id="legajo_id" value="@ViewData["EmpleadoActual"]" ></select>           
			  </div>

            </div>  



             <div class="row" id="divLocal">
                  <div class="col bottom-buffer" >
                     <label asp-for="local_id" class="control-label">Local</label>
                     <select  class="form-control" id="local_id" asp-for="local_id" ></select>
                     <span class="alert-danger" asp-validation-for="local_id"></span>
                  </div>
             </div>


              <div class="row " id="divInsertar">
                <div class="col bottom-buffer">
                      <a  value=""  class="btn btn-outline-danger" onclick="mostrarModalSalida();" >Salir</a>
                     <button id="btnGrabar" type="submit"  asp-route-id=@Model.UsuarioID value="" class="btn btn-outline-success"   >Grabar</button>
                </div>
            </div>
   
</div>




  <!-- Modal Grabar -->
<div class="modal fade" id="mdGrabar" tabindex="-1" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Confirma los cambios hechos en el usuario?
      </div>
      <div class="modal-footer">
          <button type="submit"  asp-route-id=@Model.UsuarioID value=""  class="btn btn-outline-success" >SI</button>
          <a class="btn btn-outline-danger" data-bs-dismiss="modal" >NO</a>
      </div>
    </div>
  </div>
</div>



<!-- Modal Salir -->
<div class="modal fade" id="mdSalir" tabindex="-1" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Se perderán los cambios efectuados. Está seguro?
      </div>
      <div class="modal-footer">
        <a asp-action="Index" class="btn btn-outline-success"  Text="SI">SI</a>
        <a class="btn btn-outline-danger" data-bs-dismiss="modal" >NO</a>
      </div>
    </div>
  </div>
</div>
</div>
 </form>


 <script type="text/javascript">

     
  $(document).ready(function () {

    var CodPerfil = @Html.Raw(Json.Serialize(Model.perfil_id));
    var Filtro = @Html.Raw(Json.Serialize(ViewData["FiltroActual"]));


    ObtenerPerfiles();
     ObtenerEmpleados(Filtro);
     if (CodPerfil == 6) {
               ObtenerLocales(0);
               $("#divLocal").show();
           }
           else {
               $("#divLocal").hide();
                $("#local_id").val(-1);
           }

     if ($("#nro_legajo").val() == 0) 
     {
        $("#nro_legajo").val('');
     }

   })

     $("#perfil_id").change(function () {
         if ($("#perfil_id").val() == 6) { 
               ObtenerLocales(0);
               $("#divLocal").show();
           }
           else {
               $("#divLocal").hide();
                $("#local_id").val(-1);
           }

     });

$("#filtro").change(function () {
        ObtenerEmpleados($("#filtro").val());       
     });

//function HabilitarGrabar() {
//    if ($("#items").val()!="" && $("#cliente_id").val()!=0) 
//      $("#btnGrabar").show();
//    else
//     $("#btnGrabar").hide(); 
//}

function mostrarModalSalida(){
    if ($("#btnGrabar").is(":visible"))
      $("#mdSalir").modal('show');
    else 
      window.location.href = "/Usuario/Index";
}
function mostrarModalGrabar(){
    $("#mdGrabar").modal('show');
}

 var ObtenerPerfiles = function () {
         var CodPerfil =@Html.Raw(Json.Serialize(Model.perfil_id));
         $.ajax({
            url: '@Url.Action("ObtenerPerfiles","Usuario")',
            type: 'GET',
            data: {
            },
            success: function (data) {
                $('#perfil_id').find('option').remove()
                $(data).each(
                    function (index, item) {            
                        if (item.value==CodPerfil)
                          $('#perfil_id').append('<option value="' + item.value + '" selected>' + item.text + '</option>')
                        else 
                          $('#perfil_id').append('<option value="' + item.value + '">' + item.text + '</option>')                        
                    });
            },
            error: function () {
            }
      });
    }


var ObtenerLocales = function (loc_id) {
             var CodLocal = @Html.Raw(Json.Serialize(Model.local_id));
             if (loc_id != 0) CodLocal = loc_id;
             $.ajax({
                url: '@Url.Action("ObtenerLocales","Legajo")',
                type: 'GET',
                data: {
                },
                success: function (data) {
                    $('#local_id').find('option').remove()
                    $(data).each(
                        function (index, item) {   
                            if (item.value==CodLocal)
                              $('#local_id').append('<option value="' + item.value + '" selected>' + item.text + '</option>')
                            else 
                              $('#local_id').append('<option value="' + item.value + '">' + item.text + '</option>')
                        });
                },
                error: function () {
                }
          });
        }

        var ObtenerLegajoPorID = function (id) {
        var modo = @Html.Raw(Json.Serialize(ViewData["MODO"]));
         $.ajax({
            url: '@Url.Action("ObtenerLegajoPorID","Legajo")',
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            data: {
                id: id
            },
            success: function (data) {
                $('#apellido').text(data.apellido);
                $('#nombre').text(data.nombre);



                
            },
            error: function () {
            }
      });
    }

var ObtenerEmpleados = function (filtro) {
         var CodEmpleado =@Html.Raw(Json.Serialize(ViewData["EmpleadoActual"]));

         $.ajax({
            url: '@Url.Action("ObtenerEmpleados","Legajo")',
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            data: {
                filtro: filtro
            },
            success: function (data) {
                $('#legajo_id').find('option').remove()
                if (data[0].value > 0) { 
                   ObtenerLegajoPorID(data[0].value);
                }
                $(data).each(
                    function (index, item) {    
                       
                        if (item.value==CodEmpleado || CodEmpleado==null && index==0)
                          $('#legajo_id').append('<option value="' + item.value + '" selected>' + item.text + '</option>')
                         else 
                          $('#legajo_id').append('<option value="' + item.value + '">' + item.text + '</option>')                        
                    }
                    );
            },
            error: function () {
             
            }
      });
    }
</script>


@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
