@model IEnumerable<RRHH.Models.Usuario>
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Index";
     var _perfil_id = @HttpContextAccessor.HttpContext.Session.GetInt32("PERFIL_ID");
}


<form asp-controller="Usuario"  method="post" >
 <div class="container">
     <div class="jumbotron text-center Titulo">
      <h2>Usuarios</h2>
    </div>

      <center>
     <div class="row">
            <div class="col bottom-buffer">
                <span id="spanTitulo"></span>
            </div>
        </div>

       @if (_perfil_id ==1)
       {
          <div class="row bottom-buffer">
            <div class="col bottom-buffer">
                <div class="btns2">
                    <a type="button" id="cmdNuevo" class="btn btn-outline-primary" asp-controller="Usuario" asp-action="Registro">NUEVO USUARIO</a>
                </div>
            </div>
        </div>
       }

       @* <div class="d-flex justify-content-center align-items-center container ">
            <div class="row">
                <div class="col bottom-buffer badge bg-secondary">
                    <span id="spanCantidad" class="BarraCantidad">Cantidad  de usuarios: @Model.Count()</span>
                </div>
            </div>
        </div>*@

        <div class="row">
            <div class="col bottom-buffer">
                <div class="table-responsive">


                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Nombre</th>
                            <th>Apellido</td>
                            <th>Perfil</td>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                     @foreach (var item in Model)
                     {
                     <tr>
                      <td>
                          @item.UsuarioID
                     </td>
                      <td>
                          @item.Nombre
                     </td>
                     <td>
                          @item.Apellido
                     </td>
                     <td>
                          @item.perfil_descripcion
                     </td>
                    
                      <td>
                          @if (_perfil_id==1) {
                            <a asp-controller="Usuario" asp-action="CambiarClave" asp-route-UsuarioId="@item.UsuarioID"><i data-mdb-toggle='tooltip' title='Cambiar Clave'  class='bi bi-file-earmark-lock'></i></a>
                          }
                          <a asp-controller="Usuario" asp-action="Edit" asp-route-UsuarioId="@item.UsuarioID"><i data-mdb-toggle='tooltip' title='Editar el Usuario' class='bi bi-pencil-square'></i></a>
                          @if (_perfil_id == 1)
                          {
                              <a onclick="mostrarModalEliminar('@item.UsuarioID');" ><i data-mdb-toggle='tooltip' title='Eliminar el usuario'  class='bi bi-x-circle'></i></a>
                           }
                       </td>
                  
                    </tr>  
                    
                 }
                 </tbody>
                </table>
              </div>
            </div>
         </div>

         </center>


    <!-- Modal Eliminar Usuario -->

    <div class="modal fade" id="mdEliminar" tabindex="-1" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
              
                        <div class="modal-header">
                            <h5 class="modal-title">Usuario</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>


                        <div class="modal-body">
                            Se eliminará el usuario con todos sus datos. Está seguro?
                             <input id="hfID" name="hfID" type="hidden" >
                        </div>
                        <div class="modal-footer">
                             <button id="btnEliminar" type="submit" asp-action="Delete"  value="" class="btn btn-outline-success"  >SI</button>
                             <a class="btn btn-outline-danger" data-bs-dismiss="modal" >NO</a>
                        </div>
          

            </div>
        </div>
    </div>
    </div>
</form>

 <script type="text/javascript">
    function mostrarModalEliminar(id){
      $("#hfID").val(id);
      $("#bReserva").attr('asp-route-id2', id.toString());
      $("#mdEliminar").modal('show');
     }
</script>
