@model IEnumerable<RRHH.Models.Web>
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Index";
     var _perfil_id = @HttpContextAccessor.HttpContext.Session.GetInt32("PERFIL_ID");
}

<form asp-controller="Usuario"  method="post" >
 <div class="container">
     <div class="jumbotron text-center Titulo">
      <h2>Accesos</h2>
    </div>

      <center>
     <div class="row">
            <div class="col bottom-buffer">
                <span id="spanTitulo"></span>
            </div>
        </div>

       @if (_perfil_id ==1)
       {

             <div class="col-sm-4 col-xs-6 mb-3">
               <label for="web_id">WEB</label>
			   <select name="web_id" id="web_id" data-filter="make" class="filter-make filter form-control"></select>
			</div>

            
             <div class="col-sm-4 col-xs-6 mb-3">
               <label for="perfil_id">Perfil</label>
			   <select name="perfil_id" id="perfil_id" data-filter="make" class="filter-make filter form-control"></select>
			</div>

          <div class="row bottom-buffer">
            <div class="col bottom-buffer">
                <div class="btns2">
                     <button id="btnGrabar" type="submit"  class="btn btn-success" asp-controller="Usuario" asp-action="InsertarWeb"  asp-route-UsuarioID=@ViewData["UsuarioID"]>AGREGAR/MODIFICAR ACCESO</button>
                </div>
            </div>
        </div>
       }


        <div class="row">
            <div class="col bottom-buffer">
                <div class="table-responsive">


                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Sitio</th>
                            <th>Perfil</td>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                     @foreach (var item in Model)
                     {
                     <tr>
                      <td>
                          @item.nombre
                     </td>
                      <td>
                          @item.perfil
                     </td>
                    
                      <td>
                          <button id="btnEliminar" type="submit" asp-action="EliminarWeb"  asp-route-UsuarioID=@ViewData["UsuarioID"] value="" class="btn btn-outline-success"  ><i data-mdb-toggle='tooltip' title='Eliminar' class='bi bi-x-circle'></i></button>
                       </td>
                  
                    </tr>  
                    
                 }
                 </tbody>
                </table>
              </div>
            </div>
         </div>

         </center>
</form>

    <!-- Modal Eliminar Usuario -->

    <div class="modal fade" id="mdEliminar" tabindex="-1" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
              
                        <div class="modal-header">
                            <h5 class="modal-title">Usuario</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>


                        <div class="modal-body">
                            Se eliminará el usuario con todos sus datos. Está seguro?
                             <input id="hfID" name="hfID" type="hidden" >
                        </div>
                        <div class="modal-footer">
                             <button id="btnEliminar" type="submit" asp-action="Delete"  value="" class="btn btn-outline-success"  >SI</button>
                             <a class="btn btn-outline-danger" data-bs-dismiss="modal" >NO</a>
                        </div>
          

            </div>
        </div>
    </div>

     <script type="text/javascript">


       $(document).ready(function() {
   
         ObtenerWebs();

         ObtenerPerfiles("RRHH");
       
 
       });

      $("#web_id").change(function () {
           ObtenerPerfiles($("#web_id").val());
     });


         var ObtenerWebs = function () {
         $.ajax({
            url: '@Url.Action("ObtenerWebs","Usuario")',
            type: 'GET',
            data: {
            },
            success: function (data) {
                $('#web_id').find('option').remove()
                $(data).each(
                    function (index, item) {    
                        if (item.value=="RRHH")
                          $('#web_id').append('<option value="' + item.value + '" selected>' + item.text + '</option>')
                         else 
                          $('#web_id').append('<option value="' + item.value + '">' + item.text + '</option>')                        
                    });
            },
            error: function () {
            }
      });
    }

     var ObtenerPerfiles = function (web_id) {

             $.ajax({
                url: '@Url.Action("ObtenerPerfilesWeb","Usuario")',
                type: 'GET',
                 data: {
                web: web_id
                },
                success: function (data) {
                     $('#perfil_id').find('option').remove()
                    $(data).each(
                        function (index, item) {   
                              $('#perfil_id').append('<option value="' + item.value + '">' + item.text + '</option>')
                        });
                },
                error: function () {
                }
          });
        }

    

     </script>