<!DOCTYPE html>
<html>
<head runat="server">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js" type="text/javascript"></script>
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
      
    <link href="~/css/estilos.css" rel="stylesheet" type="text/css" />

    <link rel="icon" type="image/x-icon" href="~/img/logo.png">

   </head>
<body>
     @using Microsoft.AspNetCore.Http
    @inject IHttpContextAccessor HttpContextAccessor
     <script type="text/javascript">
         var interval;
         var settimeout;
         var newTimeout;
         $(function () {
             $("#dialog").dialog({
                 autoOpen: false,
                 modal: true,
                 title: "La sesión está por expirar",
                 buttons: {
                     //Si: function () {
                     //    ResetSession();
                     //},
                     Si: function () {
                         $.ajax({
                             type: "POST",
                             url: "Logout.aspx/RefreshSession",
                             contentType: "application/json; charset=utf-8",
                             dataType: "json",
                             success: function (r) {
                                 newTimeout = r.d;
                                 SessionExpireAlert(newTimeout);
                             },
                             error: function (r) {
                                 alert(r.d);
                             }
                         });
                        
                         clearTimeout(settimeout);
                         $(this).dialog('close');
                     },
                     No: function () {
                         $(this).dialog('close');
                     }
                 }
             });
         });
         function SessionExpireAlert(timeout) {
             var seconds = timeout / 1000;
             $("#seconds").html(seconds);
             interval=clearInterval(interval);
             setInterval(function () {
                 seconds--;
                 $("#seconds").html(seconds);
             }, 1000);
             setTimeout(function () {
                 //Muestra el Popup 20 segundos antes de expirar.
                 $('#dialog').dialog('open');
             }, timeout - 20 * 1000);
             settimeout = setTimeout(function () {
                 window.location = "Logout.aspx";
             }, timeout);
         };
         function ResetSession() {
             window.location = window.location.href;
         };

      @{
          var _usuario_id = @HttpContextAccessor.HttpContext.Session.GetString("USUARIO_ID");
          var _perfil_id = @HttpContextAccessor.HttpContext.Session.GetInt32("PERFIL_ID");
          var _perfil = @HttpContextAccessor.HttpContext.Session.GetString("PERFIL");

       }

     </script>

@*    <form id="form1" runat="server">*@



        <div class="container-fluid">
             
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">

                    <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <a class="navbar-brand" href="#">
                             <img src="/img/logo.png" alt="..." height="36">
                        </a>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="/Home/Index">RRHH</a></li>
                            @if (_perfil_id <=2)
                            {
                              <li class="nav-item dropdown">
                                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                          Tablero de Control
                                      </a>
                                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="/TipoNovedad/Index">Tipos de novedad</a></li>
                                        <li><a class="dropdown-item" href="/TipoResolucion/Index">Tipos de resolución</a></li>
                                        <li><a class="dropdown-item" href="/Sector/Index">Sectores</a></li>
                                        <li><a class="dropdown-item" href="/Categoria/Index">Categorías</a></li>
                                        <li><a class="dropdown-item" href="/Funcion/Index">Tareas</a></li>
                                        <li><a class="dropdown-item" href="/TipoJustificacion/Index">Tipos de justificación</a></li>
                                        <li><a class="dropdown-item" href="/Usuario/Index">Usuarios</a></li>
                                        <li><a class="dropdown-item" href="/Lectora/Index">Lectoras</a></li>
                                        <li><a class="dropdown-item" href="/Feriado/Index">Feriados</a></li>
                                        <li><a class="dropdown-item" href="/Importacion/Index">Importaciones</a></li>
                                        <li><a class="dropdown-item" href="/Parametro/Index">Parametros</a></li>

                                       </ul>
                              </li>
                             }
                             @if (_perfil_id <= 3)
                             {
                               <li class="nav-item"><a class="nav-link" href="/Legajo/Index">Legajos</a></li>
                             }
                             <li class="nav-item"><a class="nav-link" href="/Novedad/Index">Novedades</a></li>

                             @if (_perfil_id <= 3)
                             {
                               <li class="nav-item"><a class="nav-link" href="/Justificacion/Index">Justificaciones</a></li>

                               <li class="nav-item"><a class="nav-link" href="/Fichada/Index">Fichadas</a></li>
                             }

                          
                        </ul>


                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item"><a class="nav-link" style="color: yellow;" href#">@_perfil</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">@_usuario_id
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    @* @if (_perfil_id >0)
                                     {
                                      <li class="nav-item"><a class="dropdown-item" href="/Usuario/CambiarClavePersonal">Cambiar Clave</a></li>
                                     }*@
                                    <li><a class="dropdown-item" href="/Usuario/Logout">Salir</a></li>
                                </ul>
                            </li>


                        </ul>



                    </div>
                </div>
            </nav>
        </div>



        @RenderBody()
 @*   </form>*@
@*
    <div id="dialog" >
    Su sesión va a expirar en&nbsp;<span id="seconds"></span>&nbsp;segundos.<br />
    Si está modificando datos estos se perderán si no mantiene activa la sesión. 
    Quiere mantenerla activa?
</div>*@

 @RenderSection("Scripts", required: false)
</body>
</html>