@model IEnumerable<RRHH.Models.LegajoHorario>
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Index";
    var _perfil_id = @HttpContextAccessor.HttpContext.Session.GetInt32("PERFIL_ID");
    var nro_item = 0; 
    }


     <form id="form1" method="post" enctype="multipart/form-data" class="form-floating">
         

             

     <div class="container-fluid">


          <center>
            <div class="row justify-content-center mt-1 ">
                <div class="col-lg-2 col-md-4 input-group">
                   <span class="input-group-text">Fecha</span> 
                   <input type="text" id="fecha_desde" class="form-control" name="fecha_desde" value="@ViewData["FechaDesdeActual"]"  /> 
                   <input type="submit" value="Buscar" id="buscar" asp-action="Buscar" asp-route-legajo_id=@ViewData["EmpleadoActual"] class="btn btn-primary" />
                   <a type="button" id="cmdSalir" class="btn btn-success" asp-controller="Legajo" asp-action="Index" asp-route-id=@ViewData["EmpleadoActual"]>SALIR</a>
               </div>

            </div>




          <div id="divPrint">

                
                    <div class="row mt-1" >
                        <div class="col bottom-buffer">
                             <div style="background-color: white ; padding: 10px; border: 1px solid black; text-align:center;">
                                 Horarios de @ViewData["ApellidoActual"],  @ViewData["NombreActual"] (@ViewData["NroLegajoActual"])<br />
                                 @ViewData["Semana"]<br />
                                 <a type="button" class="btn btn-success" id="btnNuevoHorario" href="#" onclick='$("#divIngresarHorarios").toggle();'>Nuevo Horario</a>
                                 <a id="btnCopiarSemana" value=""  class="btn btn-outline-danger" onclick="mostrarModalCopiar();" >Copiar Semana</a>
                                 @if (_perfil_id ==2 ||_perfil_id ==4 || _perfil_id ==5) {
                                   <a id="btnValidarSemana" value=""  class="btn btn-outline-danger" onclick="mostrarModalValidar();" >Validar Semana</a>
                                  }
                                 <input type="button" id="btnImprimir" value="Imprimir" class="btn btn-primary" />
                             </div>
                       </div>
                    

                   </div>       
                
               
          <div style="background-color: white ; padding: 10px; border: 1px solid black; text-align:center;" id="divIngresarHorarios">
         
           <div class="row">

                  
             <div class="col-4" id="divFecha">
                      <label  class="control-label">Fecha</label><br />
                      <input type="text" id="txtSelectedFecha" name="fecha"  />

             </div>

             <div class="col-4">
                  <label   class="control-label">Concepto</label>
                  <select  data-filter="model" class="form-control" name="concepto" id="concepto"  >
                    <option value="1">Horario</option>
                    <option value="2">Franco</option>
                    <option value="3">Medio Franco</option>
                  </select>   
             </div>
              <div class="col-4">
                <label  class="control-label">Validado</label>
                 <select  data-filter="model" class="form-control" name="estado" id="estado"  >
                     <option value=0>No</option>
                      @if (_perfil_id !=6) {
                        <option value=1>Si</option>
                      }
                  
                </select>   
                 </div>
              </div>
               <div class="row">
                <div class="col-4" id="divHoraDesde">
                  <label  class="control-label">Desde</label>
                   <input type="time" name="desde" id="desde" step="60" class="form-control" />
                </div>
                 <div class="col-4"  id="divHoraHasta"> 
                  <label  class="control-label">Hasta</label>
                   <input type="time"  name="hasta" id="hasta" step="60" class="form-control" />
                </div>
              </div>

              <div class="row">
                <div class="col-4" id="divHoraDesde2">
                  <label  class="control-label">Desde</label>
                   <input type="time" name="desde2" id="desde2" step="60" class="form-control" />
                </div>
                 <div class="col-4"  id="divHoraHasta2"> 
                  <label  class="control-label">Hasta</label>
                   <input type="time"  name="hasta2" id="hasta2" step="60" class="form-control" />
                </div>
              </div>

               <div class="row mt-2">
                <div class="col">
                   <a id="grabar_id" value=""  class="btn btn-outline-danger" onclick="mostrarModalGrabar();" >Grabar</a>
                </div>
            </div>
            </div>

   
             @if (@Model != null && Model.Count()>0)
                  { 
                    <div class="row">
                        <div class="col bottom-buffer">
                            <div class="table-responsive">


                                <table id="tablaHorarios" class="table table-bordered table-hover table-condensed">
                                    <thead>
                                       
                                        <tr >
                                            <th>Día</th>
                                            <th>Fecha</th>
                                            <th>Descripcion</th>
                                            <th>Horas</th>
                                            <th>Validado</th>
                                            <th></th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                    @foreach (var item in Model)
                                    {
                                        

                                        nro_item = nro_item + 1;

                                        

                                            <tr >
                                                <td>
                                                  @item.DiaSemana()
                                                </td>

                                               <td  >
                                                    @Convert.ToDateTime(item.fecha).ToString("dd/MM/yyyy")
                                                </td>
                                                <td>
                                                  @item.descripcion
                                                </td>
                                                  <td style='@(item.valida_horas==0? "background-color:Yellow;": " ")'>
                                                  @item.cantidad_horas
                                                  </td>
                                                 <td>
                                                  @(item.estado==1? "SI": "NO") 
                                                </td>
                                                   <td style="font-size:16px;">
                                                      <a asp-controller="LegajoHorario" asp-action="Edit" asp-route-id=@item.id asp-route-legajo_id=@ViewData["EmpleadoActual"] ><i data-mdb-toggle='tooltip' title='Editar el horario del legajo' class='bi bi-pencil-square'></i></a>
                                                      <a onclick="mostrarModalEliminar('@item.id');" ><i data-mdb-toggle='tooltip' title='Eliminar  el horario del legajo' class='bi bi-x-circle'></i></a>

                                            
                                                </td>
                                            </tr>

                                    }
                                    </tbody>
                    </table>
                  </div>
                </div>
             </div>
         }
                   

             </div>
             </center>


           
   
      </div>

        <!-- Modal Eliminar -->

        <div class="modal fade" id="mdEliminar" tabindex="-1" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                  
                            <div class="modal-header">
                                <h5 class="modal-title">Horario del legajo</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>


                            <div class="modal-body">
                                Se eliminará el horario del legajo con todos sus datos. Está seguro?
                                 <input id="hfID" name="hfID" type="hidden" >
                            </div>
                            <div class="modal-footer">
                                 <button id="btnEliminar" type="submit" asp-action="Delete" asp-controller="LegajoHorario" asp-route-legajo_id=@ViewData["EmpleadoActual"] value="" class="btn btn-outline-success"  >SI</button>
                                 <a class="btn btn-outline-danger" data-bs-dismiss="modal" >NO</a>
                            </div>
              

                </div>
            </div>
        </div>
     


<!-- Modal Grabar -->
<div class="modal fade" id="mdGrabar" tabindex="-1" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Horario del legajo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Confirma los cambios hechos?
      </div>
      <div class="modal-footer">
          <button type="submit"  asp-action="Grabar"  asp-route-legajo_id=@ViewData["EmpleadoActual"] asp-route-mostrarAlta=1 asp-route-origen=@ViewData["ORIGEN"] asp-route-nro_item=@ViewData["ITEM_ACTUAL"] class="btn btn-outline-success"  data-bs-dismiss="modal" >SI</button>
          <a class="btn btn-outline-danger" data-bs-dismiss="modal" >NO</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal Copiar -->
<div class="modal fade" id="mdCopiar" tabindex="-1" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Copiar la semana anterior</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Está seguro que quiere copiar los horarios de la semana anterior?
      </div>
      <div class="modal-footer">
          <button type="submit"  asp-action="CopiarSemana"  asp-route-legajo_id=@ViewData["EmpleadoActual"]  class="btn btn-outline-success"  data-bs-dismiss="modal" >SI</button>
          <a class="btn btn-outline-danger" data-bs-dismiss="modal" >NO</a>
      </div>
    </div>
  </div>
</div>
<!-- Modal Validar -->
<div class="modal fade" id="mdValidar" tabindex="-1" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Validar la semana</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Está seguro que quiere validar los horarios de la semana anterior?
      </div>
      <div class="modal-footer">
          <button type="submit"  asp-action="ValidarSemana"  asp-route-legajo_id=@ViewData["EmpleadoActual"]  class="btn btn-outline-success"  data-bs-dismiss="modal" >SI</button>
          <a class="btn btn-outline-danger" data-bs-dismiss="modal" >NO</a>
      </div>
    </div>
  </div>
</div>
    </form>

    <div id="partialModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Horarios del legajo</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


     <script type="text/javascript">

    $(document).ready(function() {
 
        var FechaDesde = @Html.Raw(Json.Serialize(ViewData["FechaDesdeActual"]));

        var CodLegajo = @Html.Raw(Json.Serialize(ViewData["EmpleadoActual"]));

        var item_actual = @Html.Raw(Json.Serialize(ViewData["ITEM_ACTUAL"]));

        var mostrar_alta = @Html.Raw(Json.Serialize(ViewData["MOSTRAR_ALTA"]));
          
     
        if(item_actual>0) ubicarFila(item_actual);

        $('#fecha_desde').datepicker({format: 'dd/mm/yyyy' });

            if (FechaDesde==null)
              $('#fecha_desde').datepicker('setDate', "-0d");
            else 
              $('#fecha_desde').datepicker('setDate',FechaDesde);

          $('#txtSelectedFecha').datepicker({format: 'dd/mm/yyyy' });
          $('#txtSelectedFecha').datepicker('setDate', "-0d");

        if ($("#concepto").val() == '1') {
              $("#divHoraDesde").show();
              $("#divHoraHasta").show();
         }
         else {
              $("#divHoraDesde").hide();
              $("#divHoraHasta").hide();
         }

         if (mostrar_alta==0)
           $("#divIngresarHorarios").hide();
         else
           $("#divIngresarHorarios").show();

     HabilitarGrabar();
    });

    $("#concepto").change(function () {
      if ($("#concepto").val() == '1' || $("#concepto").val() == '3') {
         $("#divHoraDesde").show();
         $("#divHoraHasta").show();
      }
      else {
       $("#divHoraDesde").hide();
       $("#divHoraHasta").hide();
      }
        HabilitarGrabar();
    });

    $("#desde").change(function () {
        HabilitarGrabar();
    });

    $("#hasta").change(function () {
        HabilitarGrabar();
    });
    
    $("#estado").change(function () {
        HabilitarGrabar();

    });
  
   function HabilitarGrabar() {
    
      if (($('#concepto').val()=='1' || $('#concepto').val()=='3') && $('#desde').val()!='' && $('#hasta').val()!='' || $('#concepto').val()=='2')
        $("#grabar_id").show();
      else
        $("#grabar_id").hide(); 
   } 

     function ToggleIngresarHorarios(){   
               $('#divIngresarHorarios').toggle();

         }

    function mostrarModalEliminar(id){
          $("#hfID").val(id);
          $("#mdEliminar").modal('show');

         }

    function mostrarModalGrabar(){
      $("#mdGrabar").modal('show');
    }

     function mostrarModalCopiar(){
      $("#mdCopiar").modal('show');
    }
   
    function mostrarModalValidar(){
      $("#mdValidar").modal('show');
    }
       function printData()
       {
         $("#divIngresarHorarios").hide();
         $("#btnNuevoHorario").hide();
         $("#btnCopiarSemana").hide();
         $("#btnImprimir").hide();
          
         $("#tablaHorarios th:last-child, #tablaHorarios td:last-child").hide();
         //$("#divCabecera").show();

         var divToPrint=document.getElementById("divPrint");
         var htmlToPrint = '' +
            '<style type="text/css">' +
            'body {' +
             'margin-top: 30px;' + 
             'margin-bottom: 20px;' + 
             '} ' +
            'table , table th, table td {' +
            'font-size: 10px;' + 
            'border:1px solid;' +
            'border-collapse: collapse;' +
            'padding:0.5em;' +
            '} ' +
            'table {' +
            'width: 100%;' + 
            'margin-bottom: 20px;' + 
            '} ' +
            //'#spanSanciones  {' +
            //'display:inline-block;' +
            // '} ' +
            //'#spanFelicitaciones  {' +
            //'display:inline-block;' +
            // '} ' +
            '</style>';
         htmlToPrint += divToPrint.outerHTML;
         newWin= window.open("");
         //newWin.document.write( htmlToPrint);
         //newWin.document.close();
         //newWin.print();
         //newWin.close();
         $("#tablaHorarios th:last-child, #tablaHorarios td:last-child").show();
         //$("#divCabecera").hide();

         var is_chrome = Boolean(newWin.chrome);
         newWin.document.write(htmlToPrint);
         newWin.document.close(); // necessary for IE >= 10 and necessary before onload for chrome

       if (is_chrome) {
        newWin.onload = function() { // wait until all resources loaded 
            newWin.focus(); // necessary for IE >= 10
            newWin.print();  // change window to mywindow
            newWin.close();// change window to mywindow
        };

         $("#btnNuevoHorario").show();
         $("#btnCopiarSemana").show();
         $("#btnImprimir").show();
    }
    else {
        newWin.document.close(); // necessary for IE >= 10
        newWin.focus(); // necessary for IE >= 10
        newWin.print();
        newWin.close();
    }


      }

    $('#btnImprimir').on('click',function(){
    printData();
    })

    $(function () {
          $('#fecha_desde').datepicker({
            changeMonth: true,
            changeYear: true,
            format: "dd/mm/yyyy",
            language: "es"
            });
         });

    
    $(function () {
          $('#txtSelectedFecha').datepicker({
            changeMonth: true,
            changeYear: true,
            format: "dd/mm/yyyy",
            language: "es"
            });
         });

    function ubicarFila(item_actual){

        $('#tablaHorarios').find('tr').eq(item_actual).addClass('activa');

        var w = $(window);
        var row = $('#tablaHorarios').find('tr').eq(item_actual);
   
  
         if (row.length){
           w.scrollTop( row.offset().top - (w.height()/2) );
          }
    }


    </script>




    @if (ViewBag.Message != null)
{
        <script type="text/javascript">
                window.onload = function () {
                    alert("@ViewBag.Message");
                };
        </script>
}
