@model IEnumerable<RRHH.Models.Lectora>
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@{
    ViewBag.Title = "Index";
}


<form  >
 <div class="container">
     <div class="jumbotron text-center Titulo">
      <h2>Lectoras</h2>
    </div>

      <center>
     <div class="row">
            <div class="col bottom-buffer">
                <span id="spanTitulo"></span>
            </div>
        </div>

       

      

        <div class="row">
            <div class="col bottom-buffer">
                <div class="table-responsive">


                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nro</th>
                            <th>Nombre</th>
                            <th>Días Ultima Lectura</th>
                            <th>Ultima Lectura</th>
                        </tr>
                    </thead>
                    <tbody>
                     @foreach (var item in Model)
                     {
                     <tr>
                      <td>
                          @item.nro             
                     </td>  
                     
                      <td>
                          @item.descripcion             
                     </td>    
                        
                      <td>
                          @item.horas     
                     </td>   
                     <td>
                          @Convert.ToDateTime(item.ultima_actualizacion).ToString("dd/MM/yyyy HH:mm:ss")
                     </td>

                    </tr>  
                    
                 }
                 </tbody>
                </table>
              </div>
            </div>
         </div>

         </center>


    </div>
</form>



@if (ViewBag.Message != null)
{
        <script type="text/javascript">
                window.onload = function () {
                    alert("@ViewBag.Message");
                };
        </script>
}