@model RRHH.Models.Novedad
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@{
    ViewData["Title"] = "Novedad";

}

<form asp-action="Edit" method="post">
<div class="container">
<h2>Novedad</h2>

       
            <div class="row ">
                <div class="col bottom-buffer">
                  <label asp-for="nro_legajo" class="control-label">Nro. Legajo</label>
                  <input asp-for="nro_legajo" type="number" class="form-control" />
                  <span class="alert-danger" asp-validation-for="nro_legajo"></span>
                </div>
                <div class="col bottom-buffer">
                  <label asp-for="nombre" id="nombre" name="nombre" class="control-label"></label> <label asp-for="apellido" id="apellido" name="apellido" class="control-label"></label>
                </div>

            </div>

            <div class="row">
              <div class="col bottom-buffer">
                     <label asp-for="ubicacion_id" class="control-label">Ubicación</label>
                     <select  class="form-control" id="ubicacion_id" asp-for="ubicacion_id" ></select>
                     <span class="alert-danger" asp-validation-for="ubicacion_id"></span>
              </div>

              <div class="col bottom-buffer">
                     <label asp-for="responsable_id" class="control-label">Responsable</label>
                     <select  class="form-control" id="responsable_id" asp-for="responsable_id" ></select>
                     <span class="alert-danger" asp-validation-for="responsable_id"></span>
              </div>
            </div>

            <div class="row">
              <div class="col bottom-buffer">
                     <label asp-for="categoria_novedad_id" class="control-label">Categoría Novedad</label>
                     <select  class="form-control" id="categoria_novedad_id" asp-for="categoria_novedad_id" ></select>
                     <span class="alert-danger" asp-validation-for="categoria_novedad_id"></span>

            </div>

            <div class="col bottom-buffer" id="divTipoNovedad">
                 <label asp-for="tipo_novedad_id" class="control-label">Tipo Novedad</label>
                 <select  class="form-control" id="tipo_novedad_id" asp-for="tipo_novedad_id" ></select>
                  <span class="alert-danger" asp-validation-for="tipo_novedad_id"></span>
              </div>

             <div class="col bottom-buffer btns2" id="divFechaNovedad">
                      <label asp-for="fecha_novedad" class="control-label">Fecha Novedad</label><br />
                      <input type="text" id="txtSelectedFechaNovedad" name="fecha_novedad"  asp-for="fecha_novedad" readonly="readonly"/>

             </div>
           </div>

           <div class="row">
             

              <div class="col bottom-buffer"  id="divTipoResolucion">
                 <label asp-for="tipo_resolucion_id" class="control-label">Tipo Resolución</label>
                 <select  class="form-control" id="tipo_resolucion_id" asp-for="tipo_resolucion_id"  ></select>
                  <span class="alert-danger" asp-validation-for="tipo_resolucion_id"></span>
              </div>

           
              <div class="col bottom-buffer btns2" runat="server" id="divFechaResolucion">
                      <label asp-for="fecha_resolucion" class="control-label">Fecha Resolución</label><br />
                      <input type="text" id="txtSelectedFechaResolucion" name="fecha_resolucion"  asp-for="fecha_resolucion" readonly="readonly"/>
             </div>
           </div>


          <div class="row">
             <div class="col bottom-buffer"  id="divConcepto">
                <label asp-for="concepto" class="control-label">Concepto</label>
                <input asp-for="concepto" type="number" class="form-control"  id="concepto"/>
                <span class="alert-danger" asp-validation-for="concepto"></span>
            </div>

              <div class="col bottom-buffer"  id="divDias">
                <label asp-for="dias" class="control-label">Días</label>
                <input asp-for="dias" type="number" class="form-control" id="dias" />
                <span class="alert-danger" asp-validation-for="dias"></span>
              </div>
           </div>

           
          <div class="row">
             <div class="col bottom-buffer"  id="divObservacion">
                <label asp-for="observacion" class="control-label">Observación</label>
                <input asp-for="observacion" class="form-control" id="observacion" />
                 <span class="alert-danger" asp-validation-for="observacion"></span>
             </div>
          </div>

           <div class="row " id="divInsertar">
                <div class="col bottom-buffer">
                      <a  value=""  class="btn btn-outline-danger" onclick="mostrarModalSalida();" >Salir</a>
                     <button id="btnGrabar" type="submit" asp-route-modo=@ViewData["MODO"] class="btn btn-outline-success"   >Grabar</button>
                </div>
            </div>
   




  <!-- Modal Grabar -->
<div class="modal fade" id="mdGrabar" tabindex="-1" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Legajo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Confirma los cambios hechos?
      </div>
      <div class="modal-footer">
          <button type="submit" asp-route-modo=@ViewData["MODO"] class="btn btn-outline-success" >SI</button>
          <a class="btn btn-outline-danger" data-bs-dismiss="modal" >NO</a>
      </div>
    </div>
  </div>
</div>



<!-- Modal Salir -->
<div class="modal fade" id="mdSalir" tabindex="-1" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Novedad</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Se perderán los cambios efectuados. Está seguro?
      </div>
      <div class="modal-footer">
        <a asp-action="Index" class="btn btn-outline-success"  Text="SI">SI</a>
        <a class="btn btn-outline-danger" data-bs-dismiss="modal" >NO</a>
      </div>
    </div>
  </div>
</div>
</div>
 </form>


 <script type="text/javascript">


$(document).ready(function () {

    var CodCategoria = @Html.Raw(Json.Serialize(Model.categoria_novedad_id));
    var CodTipoResolucion = @Html.Raw(Json.Serialize(Model.tipo_resolucion_id));
    var FechaNovedad = @Html.Raw(Json.Serialize(Model.fecha_novedad));
    var FechaResolucion = @Html.Raw(Json.Serialize(Model.fecha_resolucion));
    var Apellido = @Html.Raw(Json.Serialize(Model.apellido));
    var Nombre = @Html.Raw(Json.Serialize(Model.nombre));
    
    $("#apellido").text('');
    $("#nombre").text('');

    ObtenerUbicaciones();
    ObtenerResponsables();
    ObtenerCategoriasNovedad();
    ObtenerTiposNovedad();
    ObtenerTiposResolucion();

      if (CodCategoria == 1) {
             habilitar_sanciones();
         }
         else {
          if (CodCategoria == 2) {
              habilitar_felicitaciones();
          }
          else {
             
              habilitar();
          }
         }


         if (CodTipoResolucion >0) 
            $("#divFechaResolucion").show();
          else 
            $("#divFechaResolucion").hide();


      habilitar_grabar();

    if ($("#nro_legajo").val() == 0) 
    {
        $("#nro_legajo").val('');
    }


    if (Apellido != null) 
    {
        $("#apellido").text(Apellido);
    }

     if (Nombre != null) 
    {
        $("#nombre").text(Nombre);
    }

     // $('#txtSelectedDate').datepicker({format: 'dd/mm/yyyy' });


     // $(function () {
     // $('#txtSelectedDate').datepicker({
     //   changeMonth: true,
     //   changeYear: true,
     //   format: "dd/mm/yyyy",
     //   language: "es"
     //   });

     //});


        
        $('#txtSelectedFechaNovedad').datepicker({format: 'dd/mm/yyyy' });
        $('#txtSelectedFechaResolucion').datepicker({format: 'dd/mm/yyyy' });

        if(FechaNovedad==null) $('#txtSelectedFechaNovedad').datepicker('setDate', "-0d");
        if(FechaResolucion==null) $('#txtSelectedFechaResolucion').datepicker('setDate', "-0d");

   })

    function habilitar() {

      $("#divTipoNovedad").hide();
      $("#divFechaNovedad").hide();

      $("#divTipoResolucion").hide();
      $("#divFechaResolucion").hide();

      $("#divConcepto").hide();

      $("#divDias").hide();


      $("#divObservacion").show();

      if ($("#divTipoResolucion") >0) 
         $("#divFechaResolucion").show();
      else 
         $("#divFechaResolucion").hide();


      return;   
    }

   
   function blanquear() {
      $("#tipo_novedad_id").val(-1);
      $("#divTipoNovedad").hide();
      $("#divFechaNovedad").hide();

      $("#tipo_resolucion_id").val(-1);
      $("#divTipoResolucion").hide();
      $("#divFechaResolucion").hide();

      $("#concepto").val("");
      $("#divConcepto").hide();

      $("#dias").val("");
      $("#divDias").hide();


      $("#observacion").val("");
      $("#divObservacion").show();

      return;   
    }

    function sanciones() {
      $("#tipo_novedad_id").val(-1);
      $("#divTipoNovedad").show();
      $("#divFechaNovedad").show();

      $("#tipo_resolucion_id").val(-1);
      $("#divTipoResolucion").show();
      $("#divFechaResolucion").show();

      $("#concepto").val("");
      $("#divConcepto").show();

      $("#dias").val("");
      $("#divDias").show();


      $("#observacion").val("");
      $("#divObservacion").show();

      return;   
    }

    
    function habilitar_sanciones() {

      $("#divTipoNovedad").show();
      $("#divFechaNovedad").show();

      $("#divTipoResolucion").show();
      $("#divFechaResolucion").show();

      $("#divConcepto").show();

      $("#divDias").show();


      $("#divObservacion").show();

      if ($("#divTipoResolucion") >0) 
         $("#divFechaResolucion").show();
      else 
         $("#divFechaResolucion").hide();


      return;   
    }


    function felicitaciones() {
      $("#tipo_novedad_id").val(-1);
      $("#divTipoNovedad").show();
      $("#divFechaNovedad").show();

      $("#tipo_resolucion_id").val(-1);
      $("#divTipoResolucion").hide();
      $("#divFechaResolucion").hide();

      $("#concepto").val("");
      $("#divConcepto").show();

      $("#dias").val("");
      $("#divDias").hide();

      
      $("#observacion").val("");
      $("#divObservacion").show();



      return;   
    }

     function habilitar_felicitaciones() {

      $("#divTipoNovedad").show();
      $("#divFechaNovedad").show();

      $("#divTipoResolucion").hide();
      $("#divFechaResolucion").hide();

      $("#divConcepto").show();

      $("#divDias").hide();


      $("#divObservacion").show();

      if ($("#divTipoResolucion") >0) 
         $("#divFechaResolucion").show();
      else 
         $("#divFechaResolucion").hide();

      return;   
    }

    function habilitar_grabar() {
       var estado = true;
     

       if ($("#nro_legajo").val() <=0) estado=false;
       if ($("#apellido").text() == '') estado=false;
       if ($("#nombre").text() == '') estado=false;
       if ($("#categoria_novedad_id").val() <=0) estado=false;
       if ($("#observacion").val() =='') estado=false;
       if ($("#tipo_novedad_id").val() <=0) estado=false;

       //if ($("#categoria_novedad_id").val() == 1) {
       //  if ($("#tipo_novedad_id").val() <=0) estado=false;
       //  if ($("#tipo_resolucion_id").val() <=0) estado=false;
       //}

      

       if (estado)
         $("#btnGrabar").show();
       else
         $("#btnGrabar").hide();
    }

     $("#nro_legajo").change(function () {
         ObtenerLegajo($("#nro_legajo").val())
         //habilitar_grabar();     
    });


     $("#categoria_novedad_id").change(function () {
         if ($("#categoria_novedad_id").val() == 1) {
             habilitar_sanciones();
         }
         else {
             habilitar_felicitaciones();
         }
     
         habilitar_grabar();
    });

    $("#tipo_novedad_id").change(function () {
         habilitar_grabar();     
    });

    $("#tipo_resolucion_id").change(function () {

         if ($("#tipo_resolucion_id").val() >0) 
            $("#divFechaResolucion").show();
          else 
            $("#divFechaResolucion").hide();

         habilitar_grabar();     
    });

    $("#observacion").change(function () {
         habilitar_grabar();     
    });

    $("#fecha_novedad").change(function () {
         habilitar_grabar();     
    });

    $("#fecha_resolucion").change(function () {
         habilitar_grabar();     
    });

    
    $("#responsable_id").change(function () {
         habilitar_grabar();     
    });

    
    $("#ubicacion_id").change(function () {
         habilitar_grabar();     
    });

  function mostrarModalSalida(){
       $("#mdSalir").modal('show');
    //if ($("#btnGrabar").is(":visible"))
    //  $("#mdSalir").modal('show');
    //else 
    //  window.location.href = "/Novedad/Index";
  }

  function mostrarModalGrabar(){
    $("#mdGrabar").modal('show');
  }


  var ObtenerCategoriasNovedad = function () {
         var CodCategoria =@Html.Raw(Json.Serialize(Model.categoria_novedad_id));
         $.ajax({
            url: '@Url.Action("ObtenerCategoriasNovedad","Novedad")',
            type: 'GET',
            data: {
            },
            success: function (data) {
                $('#categoria_novedad_id').find('option').remove()
                $(data).each(
                    function (index, item) {            
                        if (item.value==CodCategoria)
                          $('#categoria_novedad_id').append('<option value="' + item.value + '" selected>' + item.text + '</option>')
                        else 
                          $('#categoria_novedad_id').append('<option value="' + item.value + '">' + item.text + '</option>')                        
                    });
            },
            error: function () {
            }
      });
    }

      var ObtenerTiposNovedad = function () {
         var CodCategoria =@Html.Raw(Json.Serialize(Model.tipo_novedad_id));
         $.ajax({
            url: '@Url.Action("ObtenerTiposNovedad","Novedad")',
            type: 'GET',
            data: {
            },
            success: function (data) {
                $('#tipo_novedad_id').find('option').remove()
                $(data).each(
                    function (index, item) {            
                        if (item.value==CodCategoria)
                          $('#tipo_novedad_id').append('<option value="' + item.value + '" selected>' + item.text + '</option>')
                        else 
                          $('#tipo_novedad_id').append('<option value="' + item.value + '">' + item.text + '</option>')                        
                    });
            },
            error: function () {
            }
      });
    }

     var ObtenerTiposResolucion = function () {
         var CodCategoria =@Html.Raw(Json.Serialize(Model.tipo_resolucion_id));
         $.ajax({
            url: '@Url.Action("ObtenerTiposResolucion","Novedad")',
            type: 'GET',
            data: {
            },
            success: function (data) {
                $('#tipo_resolucion_id').find('option').remove()
                $(data).each(
                    function (index, item) {            
                        if (item.value==CodCategoria)
                          $('#tipo_resolucion_id').append('<option value="' + item.value + '" selected>' + item.text + '</option>')
                        else 
                          $('#tipo_resolucion_id').append('<option value="' + item.value + '">' + item.text + '</option>')                        
                    });
            },
            error: function () {
            }
      });
    }


     var ObtenerUbicaciones = function () {
         var CodUbicacion =@Html.Raw(Json.Serialize(Model.ubicacion_id));
         $.ajax({
            url: '@Url.Action("ObtenerUbicaciones","Novedad")',
            type: 'GET',
            data: {
            },
            success: function (data) {
                $('#ubicacion_id').find('option').remove()
                $(data).each(
                    function (index, item) {            
                        if (item.value==CodUbicacion)
                          $('#ubicacion_id').append('<option value="' + item.value + '" selected>' + item.text + '</option>')
                        else 
                          $('#ubicacion_id').append('<option value="' + item.value + '">' + item.text + '</option>')                        
                    });
            },
            error: function () {
            }
      });
    }

    var ObtenerResponsables = function () {
         var CodResponsable =@Html.Raw(Json.Serialize(Model.responsable_id));
         $.ajax({
            url: '@Url.Action("ObtenerResponsables","Novedad")',
            type: 'GET',
            data: {
            },
            success: function (data) {
                $('#responsable_id').find('option').remove()
                $(data).each(
                    function (index, item) {            
                        if (item.value==CodResponsable)
                          $('#responsable_id').append('<option value="' + item.value + '" selected>' + item.text + '</option>')
                        else 
                          $('#responsable_id').append('<option value="' + item.value + '">' + item.text + '</option>')                        
                    });
            },
            error: function () {
            }
      });
    }

    var ObtenerLegajo = function (nro_legajo) {
         $.ajax({
            url: '@Url.Action("ObtenerLegajo","Novedad")',
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            data: {
                nro_legajo: nro_legajo,
            },
            success: function (data) {
                $('#apellido').text(data.apellido);
                $('#nombre').text(data.nombre);
                habilitar_grabar(); 
            },
            error: function () {
            }
      });
    }
     
    $(function () {
      $('#txtSelectedFechaNovedad').datepicker({
        changeMonth: true,
        changeYear: true,
        format: "dd/mm/yyyy",
        language: "es"
        });
     });

      $(function () {
      $('#txtSelectedFechaResolucion').datepicker({
        changeMonth: true,
        changeYear: true,
        format: "dd/mm/yyyy",
        language: "es"
        });
     });

</script>


@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
