@model RRHH.Models.LegajoFichada
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@{
    ViewData["Title"] = "Edición de fichada";

}

<form asp-action="Edit" method="post">
<div class="container">

   @*         <div class="row ">
                <div class="col bottom-buffer">
                  <label asp-for="fecha" class="control-label">Fecha</label>
                  <input asp-for="fecha" class="form-control" />
                </div>
            </div>  *@  

            <div class="row mb-3" >
             <div class="col-lg-2 col-xs-6 mb-3">
                  <label for="filtro">Legajo / Apellido</label>
                  <input name="filtro" id="filtro"  placeholder="Filtro" value="@ViewData["FiltroFichadaActual"]" class="form-control" />                                          
			</div>
			<div class="col-lg-6 col-xs-6 mb-3">
                <label for="legajo_id">Empleado</label>
                <select  data-filter="model" class="form-control" asp-for="legajo_id" name="legajo_id" id="legajo_id" value="@ViewData["EmpleadoActual"]" ></select>           
			</div>

          </div>  

           <div class="row" hidden>
                  <div class="col bottom-buffer">
                     <label asp-for="empresa_id" class="control-label">Empresa</label>
                     <select  class="form-control" id="empresa_id" asp-for="empresa_id" ></select>
                     <span class="alert-danger" asp-validation-for="empresa_id"></span>
                  </div>
            </div>

       
            <div class="row " hidden>
                <div class="col bottom-buffer">
                  <label asp-for="nro_legajo" class="control-label">Nro. Legajo</label>
                  <input asp-for="nro_legajo" id="nro_legajo" name="nro_legajo" type="number" class="form-control" />
                  <span class="alert-danger" asp-validation-for="nro_legajo"></span>
                </div>
                <div class="col bottom-buffer">
                  <label asp-for="nombre" id="nombre" name="nombre" class="control-label"></label> <label asp-for="apellido" id="apellido" name="apellido" class="control-label"></label>
                </div>

            </div>


             <div class="row ">
            <div class="col bottom-buffer btns2" id="divFechaNovedad">
                      <label asp-for="fecha" class="control-label">Fecha</label><br />
                      <input type="text" class="form_control" id="txtSelectedFecha" name="fecha"  asp-for="fecha" readonly="readonly"/>

             </div>
             </div> 
            <div class="row ">
                <div class="col bottom-buffer">
                  <label asp-for="entrada_1" class="control-label">Entrada 1</label>
                  <input type="time" asp-for="entrada_1" step="1" class="form-control" />
                </div>
            </div>                       

             <div class="row ">
                <div class="col bottom-buffer">
                  <label asp-for="salida_1" class="control-label">Salida 1</label>
                  <input type="time" asp-for="salida_1" step="1" class="form-control" />
                </div>
            </div>      
            
            <div class="row ">
                <div class="col bottom-buffer">
                  <label asp-for="entrada_2" class="control-label">Entrada 2</label>
                  <input type="time" asp-for="entrada_2" step="1" class="form-control" />
                </div>
            </div>                       

             <div class="row ">
                <div class="col bottom-buffer">
                  <label asp-for="salida_2" class="control-label">Salida 2</label>
                  <input type="time" asp-for="salida_2" step="1" class="form-control" />                
                 </div>
            </div>    

             <div class="row ">
                <div class="col bottom-buffer">
                  <label asp-for="entrada_3" class="control-label">Entrada 3</label>
                  <input type="time" asp-for="entrada_3" step="1" class="form-control" />
                </div>
            </div>                       

             <div class="row ">
                <div class="col bottom-buffer">
                  <label asp-for="salida_3" class="control-label">Salida 3</label>
                  <input type="time" asp-for="salida_3" step="1" class="form-control" />                
                 </div>
            </div>    

              <div class="row " id="divInsertar">
                <div class="col bottom-buffer">
                      <a  value=""  class="btn btn-outline-danger" onclick="mostrarModalSalida();" >Salir</a>
                      <button id="btnGrabar" type="submit" asp-route-legajo_id=@ViewData["LEGAJO_ID"] asp-route-lectora_id=@ViewData["LECTORA_ID"] asp-route_fecha=@ViewData["FECHA"] value="" class="btn btn-outline-success"   >Grabar</button>
                      <a  value=""  class="btn btn-outline-danger" onclick="mostrarModalEliminar();" >Eliminar</a>
                      <a  value=""  class="btn btn-outline-danger" onclick="mostrarModalRestaurar();" >Restaurar</a>
                </div>
            </div>
   
</div>




  <!-- Modal Grabar -->
<div class="modal fade" id="mdGrabar" tabindex="-1" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Fichada</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Confirma los cambios hechos?
      </div>
      <div class="modal-footer">
          <button type="submit"  asp-route-legajo_id=@ViewData["LEGAJO_ID"] asp-route-lectora_id=@ViewData["LECTORA_ID"] value=""  class="btn btn-outline-success" >SI</button>
          <a class="btn btn-outline-danger" data-bs-dismiss="modal" >NO</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal Eliminar -->
<div class="modal fade" id="mdEliminar" tabindex="-1" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Fichadas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Se eliminarán los datos de la fichada en este día. Está seguro?
      </div>
      <div class="modal-footer">
         <button type="submit"  asp-action="Delete" asp-controller="LegajoFichada" asp-route-legajo_id=@ViewData["LEGAJO_ID"] asp-route-lectora_id=@ViewData["LECTORA_ID"] value=""  class="btn btn-outline-success" >SI</button>

@*        <a asp-action="Delete" asp-controller="LegajoFichada" asp-route-legajo_id=@ViewData["LEGAJO_ID"]  class="btn btn-outline-success"  Text="SI">SI</a>
*@        <a class="btn btn-outline-danger" data-bs-dismiss="modal" >NO</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal Restaurar -->
<div class="modal fade" id="mdRestaurar" tabindex="-1" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Fichadas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Se restaurarán los datos de la fichada. Está seguro?
      </div>
      <div class="modal-footer">
        <a asp-action="Restaurar" asp-controller="LegajoFichada" asp-route-id=@ViewData["ID"] class="btn btn-outline-success"  Text="SI">SI</a>
        <a class="btn btn-outline-danger" data-bs-dismiss="modal" >NO</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal Salir -->
<div class="modal fade" id="mdSalir" tabindex="-1" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Fichadas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Se perderán los cambios efectuados. Está seguro?
      </div>
      <div class="modal-footer">
        <a asp-action="Index" asp-controller="Fichada" class="btn btn-outline-success"  Text="SI">SI</a>
        <a class="btn btn-outline-danger" data-bs-dismiss="modal" >NO</a>
      </div>
    </div>
  </div>
</div>

 </form>


 <script type="text/javascript">

$(document).ready(function () {
        var Fecha = @Html.Raw(Json.Serialize(Model.fecha));

        var Filtro = @Html.Raw(Json.Serialize(ViewData["FiltroFichadaActual"]));

        $('#txtSelectedFecha').datepicker({format: 'dd/mm/yyyy' });
        if(Fecha==null) $('#txtSelectedFecha').datepicker('setDate', "-0d");

        ObtenerEmpleados(Filtro);

        if ($("#nro_legajo").val() == 0) 
        {
          $("#nro_legajo").val('');
        }

        

   })

  $("#filtro").change(function () {
        ObtenerEmpleados($("#filtro").val());       
     });



     $("#legajo_id").change(function () {
     
        if ($("#legajo_id").val() > 0) {
             ObtenerLegajoPorID($("#legajo_id").val());
         }
    });

     $("#legajo_id").focusout(function () {
          
        if ($("#legajo_id").val() > 0) {
             ObtenerLegajoPorID($("#legajo_id").val());
         }
    });

     $("#nro_legajo").change(function () {
           
         ObtenerLegajo($("#empresa_id").val(), $("#nro_legajo").val())

    });


function mostrarModalSalida(){
    if ($("#btnGrabar").is(":visible"))
      $("#mdSalir").modal('show');
    else 
      window.location.href = "/Fichada/Index";
}
function mostrarModalGrabar(){
    $("#mdGrabar").modal('show');
}

function mostrarModalEliminar(){
    $("#mdEliminar").modal('show');
}


function mostrarModalRestaurar(){
    $("#mdRestaurar").modal('show');
}

 $(function () {
      $('#txtSelectedFecha').datepicker({
        changeMonth: true,
        changeYear: true,
        format: 'DD/MM/YYYY',
        language: "es"
        });
     });



    var ObtenerLegajo = function (empresa_id, nro_legajo) {
         $.ajax({
            url: '@Url.Action("ObtenerLegajo","Novedad")',
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            data: {
                empresa_id: empresa_id,
                nro_legajo: nro_legajo
            },
            success: function (data) {
                $('#apellido').text(data.apellido);
                $('#nombre').text(data.nombre);
             

                habilitar_grabar(); 
            },
            error: function () {
            }
      });
    }
     


var ObtenerLegajoPorID = function (id) {
        var modo = @Html.Raw(Json.Serialize(ViewData["MODO"]));
         $.ajax({
            url: '@Url.Action("ObtenerLegajoPorID","Legajo")',
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            data: {
                id: id
            },
            success: function (data) {
                $('#apellido').text(data.apellido);
                $('#nombre').text(data.nombre);

              

                habilitar_grabar(); 
            },
            error: function () {
            }
      });
    }

var ObtenerEmpleados = function (filtro) {
         var CodEmpleado =@Html.Raw(Json.Serialize(ViewData["EmpleadoActual"]));

         $.ajax({
            url: '@Url.Action("ObtenerEmpleados","Legajo")',
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            data: {
                filtro: filtro
            },
            success: function (data) {
                $('#legajo_id').find('option').remove()
                if (data[0].value > 0) { 
                   ObtenerLegajoPorID(data[0].value);
                }
                $(data).each(
                    function (index, item) {    
                       
                        if (item.value==CodEmpleado || CodEmpleado==null && index==0)
                          $('#legajo_id').append('<option value="' + item.value + '" selected>' + item.text + '</option>')
                         else 
                          $('#legajo_id').append('<option value="' + item.value + '">' + item.text + '</option>')                        
                    }
                    );
            },
            error: function () {
             
            }
      });
    }

</script>


@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
