@model RRHH.Models.LegajoFichada
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@{
    ViewData["Title"] = "Edición de fichada";
    var _modo = (string)ViewData["MODO"];
    var _cantidad_lecturas =  (int) ViewData["CANTIDAD_LECTURAS"];

}

<form asp-action="Edit" method="post">
 <button type="submit" disabled style="display: none" aria-hidden="true"></button>
<div class="container">

   @*         <div class="row ">
                <div class="col bottom-buffer">
                  <label asp-for="fecha" class="control-label">Fecha</label>
                  <input asp-for="fecha" class="form-control" />
                </div>
            </div>  *@  
        @if (_modo == "A" )
        {
            <div class="row mb-3" >
                <div class="col-sm-4 col-xs-6 mb-3">
                    <label for="empresa_id">Empresa</label>
                    <select name="empresa_id" id="empresa_id" data-filter="make" class="filter-make filter form-control" value="@ViewData["EMPRESA_ID"]"></select>
                </div>
                <div class="col-sm-4 col-xs-6 mb-3">
                    <label for="ubicacion_id">Ubicación</label>
                    <select name="ubicacion_id" id="ubicacion_id" data-filter="make" class="filter-make filter form-control" value="@ViewData["UBICACION_ID"]"></select>
                </div>
                <div class="col-sm-4 col-xs-6 mb-3">
                    <label for="sector_id">Sector/Local</label>
                    <select name="sector_id" id="sector_id" data-filter="make" class="filter-make filter form-control"  value="@ViewData["SECTOR_ID"]"></select>
                </div>

            </div>
        }

            <div class="row mb-3" >
               
             <div class="col-lg-4 col-xs-4 mb-3">
                  <label for="filtro">Legajo / Apellido</label>
                  <input name="filtro" onpaste="return false;" ondrop="return false;" autocomplete="off"   id="filtro"  placeholder="Filtro" value="@ViewData["FiltroFichadaActual"]" class="form-control" />                                          
			</div>
			<div class="col-lg-4 col-xs-4 mb-3">
                <label for="legajo_id">Empleado</label>
                <select  data-filter="model" class="form-control" asp-for="legajo_id" name="legajo_id" id="legajo_id" value="@ViewData["EmpleadoActual"]" ></select>           
			</div>
             @if (_modo == "A" )
             {
               <div class="col-lg-4 col-xs-4 mb-3">
                 <input type="button" value="Limpiar" asp-action="Limpiar" onclick="Limpiar();" class="btn btn-primary" title="Limpiar todos los datos de la búsqueda"  />
               </div>
             }
          </div>  
        @if (_modo == "A")
        {
            <div class="row"> 
             <div class="col">
              <button id="btnAgregar" type="button" onclick="AgregarItem($('#legajo_id').val(),$('#nro_legajo').val(),$('#apellido').text(),$('#nombre').text());" class="btn btn-success btn-sm" >AGREGAR</button>
              </div>
            </div>
            <div class="row"> 
                <div class="col" style="margin-right:5px;">
                    <table class="table table-light table-hover" id="tblItems">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Legajo</th>
                                <th>Apellido</th>
                                <th>Nombre</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        }

      

           <div class="row" hidden>
                  <div class="col bottom-buffer">
                     <label asp-for="empresa_id" class="control-label">Empresa</label>
                     <select  class="form-control" id="empresa_id" asp-for="empresa_id" ></select>
                     <span class="alert-danger" asp-validation-for="empresa_id"></span>
                  </div>
            </div>

       
            <div class="row " hidden>
                <div class="col bottom-buffer">
                  <label asp-for="nro_legajo" class="control-label">Nro. Legajo</label>
                  <input asp-for="nro_legajo" id="nro_legajo" name="nro_legajo" type="number" class="form-control" />
                  <span class="alert-danger" asp-validation-for="nro_legajo"></span>
                </div>
                <div class="col bottom-buffer">
                  <label asp-for="nombre" id="nombre" name="nombre" class="control-label"></label> <label asp-for="apellido" id="apellido" name="apellido" class="control-label"></label>
                  <input id="legajos" name="legajos" class="form-control" />
                  <input id="fechas" name="fechas" class="form-control" />
                </div>
                
            </div>

             <div class="row ">
                  @if (_modo != "A" ) {
                      @:<div class="col bottom-buffer btns2" id="divFechaNovedad" hidden>
                  } 
                  else { 
                     @:<div class="col bottom-buffer btns2" id="divFechaNovedad">
                  }   
                      <label asp-for="fecha" class="control-label">Fecha</label><br />
                      <input type="text" class="form_control" id="txtSelectedFecha" name="fecha"  asp-for="fecha" readonly="readonly"/>

                </div>

            @if (_modo != "A" )
            {
                 <div class="col bottom-buffer btns2"  style="text-align:center">
                   <label class="control-label">FECHA</label><br />
                   <label class="control-label"> @Convert.ToDateTime(@Model.fecha).ToString("dd/MM/yyyy")</label><br />
               </div>
                <div class="col bottom-buffer btns2" id="divHorasCalculadas"  style="text-align:center">
                    <label asp-for="fecha" class="control-label">Horas Calculadas</label><br />
                    <label class="control-label">@ViewData["HORAS_CALCULADAS"]</label><br />
                </div>
            }
            @if (_modo != "A" && _cantidad_lecturas>8)
                {
                  <div class="col bottom-buffer">
                    <label for="validado" class="control-label">Validado</label>
                    <select  data-filter="model" class="form-control" name="validado" id="validado" asp-for="validado"  >
                        <option value="0">NO</option>
                        <option value="1">SI</option>
                    </select>   
                  </div>
                }
        </div>

        @if (_modo == "A")
        {
            <div class="row"> 
             <div class="col">
              <button id="btnAgregarFecha" type="button" onclick="AgregarFecha($('#txtSelectedFecha').val());" class="btn btn-success btn-sm" >AGREGAR</button>
              </div>
            </div>
            <div class="row"> 
                <div class="col" style="margin-right:5px;">
                    <table class="table table-light table-hover" id="tblFechas">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        }

         @if (_modo != "A")
        {
            <div class="row ">

                <div class="col bottom-buffer">
                  <label asp-for="horas_normales" class="control-label">Horas</label>
                  <input type="time" asp-for="horas_normales" step="1" class="form-control" />
                </div>
                <div class="col bottom-buffer">
                  <label asp-for="horas_50" class="control-label">Horas 50</label>
                  <input type="time" asp-for="horas_50" step="1" class="form-control" />
                </div>
                <div class="col bottom-buffer">
                  <label asp-for="horas_100" class="control-label">Horas 100</label>
                  <input type="time" asp-for="horas_100" step="1" class="form-control" />
                </div>
             </div> 

              <div class="row ">              
                <div class="col bottom-buffer">
                  <label asp-for="horas_50_fds" class="control-label">Horas 50 FDS</label>
                  <input type="time" asp-for="horas_50_fds" step="1" class="form-control" />
                </div>
                <div class="col bottom-buffer">
                  <label asp-for="horas_feriado" class="control-label">Horas Feriado</label>
                  <input type="time" asp-for="horas_feriado" step="1" class="form-control" />
                </div>
				<div class="col bottom-buffer">
                  <label asp-for="descuento" class="control-label">Descuento</label>
                  <input type="time" asp-for="descuento" step="1" class="form-control" />
                </div>
             </div> 
         }
             <div class="row ">
                <div class="col bottom-buffer">
                  <label asp-for="entrada_1" class="control-label">Entrada 1</label>
                  <a  value=""  class="btn " onclick="eliminarHora(1);" ><i class="bi bi-x-circle"></i></a>
                  <a  value=""  class="btn " onclick="moverHoras(1);" ><i class="bi bi-arrow-right-circle"></i></a>
                  <input type="time" asp-for="entrada_1" step="1" class="form-control" />
                </div>
                <div class="col bottom-buffer">
                  <label asp-for="salida_1" class="control-label">Salida 1</label>
                  <a  value=""  class="btn " onclick="eliminarHora(2);" ><i class="bi bi-x-circle"></i></a>
                  <a  value=""  class="btn " onclick="moverHoras(2);" ><i class="bi bi-arrow-right-circle"></i></a>
                  <input type="time" asp-for="salida_1" step="1" class="form-control" />
                </div>
            </div>                       

             <div class="row ">
                
            </div>      
            
            <div class="row ">
                <div class="col bottom-buffer">
                  <label asp-for="entrada_2" class="control-label">Entrada 2</label>
                  <a  value=""  class="btn " onclick="eliminarHora(3);" ><i class="bi bi-x-circle"></i></a>
                  <a  value=""  class="btn " onclick="moverHoras(3);" ><i class="bi bi-arrow-right-circle"></i></a>
                  <input type="time" asp-for="entrada_2" step="1" class="form-control" />
                </div>
                <div class="col bottom-buffer">
                  <label asp-for="salida_2" class="control-label">Salida 2</label>
                  <a  value=""  class="btn " onclick="eliminarHora(4);" ><i class="bi bi-x-circle"></i></a>
                  <a  value=""  class="btn " onclick="moverHoras(4);" ><i class="bi bi-arrow-right-circle"></i></a>
                  <input type="time" asp-for="salida_2" step="1" class="form-control" />                
                 </div>
            </div>                       

             <div class="row ">
              
            </div>    

             <div class="row ">
                <div class="col bottom-buffer">
                  <label asp-for="entrada_3" class="control-label">Entrada 3</label>
                  <a  value=""  class="btn " onclick="eliminarHora(5);" ><i class="bi bi-x-circle"></i></a>
                  <a  value=""  class="btn " onclick="moverHoras(5);" ><i class="bi bi-arrow-right-circle"></i></a>
                  <input type="time" asp-for="entrada_3" step="1" class="form-control" />
                </div>
                <div class="col bottom-buffer">
                  <label asp-for="salida_3" class="control-label">Salida 3</label>
                  <a  value=""  class="btn " onclick="eliminarHora(6);" ><i class="bi bi-x-circle"></i></a>
                  <a  value=""  class="btn " onclick="moverHoras(6);" ><i class="bi bi-arrow-right-circle"></i></a>
                  <input type="time" asp-for="salida_3" step="1" class="form-control" />                
                 </div>
            </div>                       

             <div class="row ">
                
            </div>    

             <div class="row ">
                <div class="col bottom-buffer">
                  <label asp-for="entrada_4" class="control-label">Entrada 4</label>
                  <a  value=""  class="btn " onclick="eliminarHora(7);" ><i class="bi bi-x-circle"></i></a>
                  <a  value=""  class="btn " onclick="moverHoras(7);" ><i class="bi bi-arrow-right-circle"></i></a>
                  <input type="time" asp-for="entrada_4" step="1" class="form-control" />
                </div>
                <div class="col bottom-buffer">
                  <label asp-for="salida_4" class="control-label">Salida 4</label>
                  <a  value=""  class="btn " onclick="eliminarHora(8);" ><i class="bi bi-x-circle"></i></a>
                  <a  value=""  class="btn " onclick="moverHoras(8);" ><i class="bi bi-arrow-right-circle"></i></a>
                  <input type="time" asp-for="salida_4" step="1" class="form-control" />                
                 </div>
            </div>                       

             <div class="row ">
                
            </div>    

              <div class="row " id="divInsertar">
                <div class="col bottom-buffer">
                      <a  value=""  class="btn btn-outline-danger" onclick="mostrarModalSalida();" >Salir</a>
                      <button id="btnGrabar"  type="submit" onclick="ObtenerLegajosID();" asp-route-legajo_id=@ViewData["LEGAJO_ID"] asp-route-lectora_id=@ViewData["LECTORA_ID"] asp-route-modo=@ViewData["MODO"] asp-route_fecha=@ViewData["FECHA"] asp-route-nro_item=@ViewData["ITEM_ACTUAL"] value="" class="btn btn-outline-success"   >Grabar</button>
                      @if (_modo != "A")
                       {
                         <a  value=""  class="btn btn-outline-danger" onclick="mostrarModalEliminar();" >Eliminar</a>
                         <a  value=""  class="btn btn-outline-danger" onclick="mostrarModalRestaurar();" >Restaurar</a>
                       }
                </div>
            </div>
   
</div>




  <!-- Modal Grabar -->
<div class="modal fade" id="mdGrabar" tabindex="-1" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Fichada</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Confirma los cambios hechos?
      </div>
      <div class="modal-footer">
          <button type="submit"  asp-route-legajo_id=@ViewData["LEGAJO_ID"] asp-route-lectora_id=@ViewData["LECTORA_ID"] asp-route-nro_item=@ViewData["ITEM_ACTUAL"]  asp-route-desde="busqueda"  value=""  class="btn btn-outline-success" >SI</button>
          <a class="btn btn-outline-danger" data-bs-dismiss="modal" >NO</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal Eliminar -->
<div class="modal fade" id="mdEliminar" tabindex="-1" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Fichadas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Se eliminarán los datos de la fichada en este día. Está seguro?
      </div>
      <div class="modal-footer">
         <button type="submit"  asp-action="Delete" asp-controller="LegajoFichada" asp-route-legajo_id=@ViewData["LEGAJO_ID"] asp-route-lectora_id=@ViewData["LECTORA_ID"] asp-route-nro_item=@ViewData["ITEM_ACTUAL"] value=""  class="btn btn-outline-success" >SI</button>

@*        <a asp-action="Delete" asp-controller="LegajoFichada" asp-route-legajo_id=@ViewData["LEGAJO_ID"]  class="btn btn-outline-success"  Text="SI">SI</a>
*@        <a class="btn btn-outline-danger" data-bs-dismiss="modal" >NO</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal Restaurar -->
<div class="modal fade" id="mdRestaurar" tabindex="-1" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Fichadas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Se restaurarán los datos de la fichada. Está seguro?
      </div>
      <div class="modal-footer">
        <a asp-action="Restaurar" asp-controller="LegajoFichada" asp-route-id=@ViewData["ID"] asp-route-nro_item=@ViewData["ITEM_ACTUAL"] class="btn btn-outline-success"  Text="SI">SI</a>
        <a class="btn btn-outline-danger" data-bs-dismiss="modal" >NO</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal Salir -->
<div class="modal fade" id="mdSalir" tabindex="-1" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Fichadas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Se perderán los cambios efectuados. Está seguro?
      </div>
      <div class="modal-footer">
        <a asp-action="Index" asp-controller="Fichada" asp-route-item_actual=@ViewData["ITEM_ACTUAL"]  asp-route-desde="busqueda"  class="btn btn-outline-success"  Text="SI">SI</a>
        <a class="btn btn-outline-danger" data-bs-dismiss="modal" >NO</a>
      </div>
    </div>
  </div>
</div>

 </form>


 <script type="text/javascript">

$(document).ready(function () {
        var CodUbicacion = @Html.Raw(Json.Serialize(ViewData["UBICACION_ID"]));
        var CodSector = @Html.Raw(Json.Serialize(ViewData["SECTOR_ID"]));
        var Fecha = @Html.Raw(Json.Serialize(Model.fecha));

        var Filtro = @Html.Raw(Json.Serialize(ViewData["FiltroFichadaActual"]));

        var Legajo = @Html.Raw(Json.Serialize(ViewData["LegajoActual"]));
        var LegajoId = @Html.Raw(Json.Serialize(ViewData["EmpleadoActual"]));

        $('#txtSelectedFecha').datepicker({format: 'dd/mm/yyyy' });
        if(Fecha==null) $('#txtSelectedFecha').datepicker('setDate', "-0d");


         $("#apellido").text('');
    $("#nombre").text('');

          
       ObtenerEmpresas();

       ObtenerUbicaciones();
    

    if (CodUbicacion== 1 || CodUbicacion == 2 || CodUbicacion == 4) {
            ObtenerSectores(CodUbicacion);
        }
        else {
           if (CodUbicacion ==3) {
               ObtenerLocales();
           }
            else {
               $("#sector_id").val(-1);
           }
        }

        if ($("#nro_legajo").val() <=0) 
        {
            $("#nro_legajo").val('');
        }


       ObtenerLegajos($("#empresa_id").val(),Legajo,CodUbicacion,CodSector,Filtro )

        ObtenerEmpleados(Filtro);

        if ($("#nro_legajo").val() == 0) 
        {
          $("#nro_legajo").val('');
        }

      HabilitarGrabar();

   })

   


   $('#filtro').keyup(function(event){
    if(event.which == 13 ){        
        ObtenerEmpleados($("#filtro").val());
        AgregarItem($('#legajo_id').val(),$('#nro_legajo').val(),$('#apellido').text(),$('#nombre').text());
        return false; 
    }    
   });


  
   $('#txtSelectedFecha').keyup(function(event){
    
    if(event.which == 13 ){               
       AgregarFecha($('#txtSelectedFecha').val());        
       return false; 
    }    
   });

      $("#filtro").change(function () {     
              
        ObtenerEmpleados($("#filtro").val());     

        //$('#legajo_id').focus()
     });


     $("#legajo_id").change(function () {
        
        if ($("#legajo_id").val() > 0) {
             ObtenerLegajoPorID($("#legajo_id").val());
             //AgregarItem($('#legajo_id').val(),$('#nro_legajo').val(),$('#apellido').text(),$('#nombre').text());
         }

        
    });

     $("#legajo_id").focusout(function () {
          
        if ($("#legajo_id").val() > 0) {
             ObtenerLegajoPorID($("#legajo_id").val());
         }
    });

     $("#nro_legajo").change(function () {
           
         ObtenerLegajo($("#empresa_id").val(), $("#nro_legajo").val())

    });


 $("#ubicacion_id").change(function () {
         var Legajo = @Html.Raw(Json.Serialize(ViewData["LegajoActual"]));

       if ($("#ubicacion_id").val() == 1 || $("#ubicacion_id").val() == 2 || $("#ubicacion_id").val() == 4) {
            ObtenerSectores($("#ubicacion_id").val());
        }
        else {
           if ($("#ubicacion_id").val() == 3) {
               ObtenerLocales();
           }
           else {
                $("#sector_id").val(-1);
           }
        }

         ObtenerLegajos($("#empresa_id").val(), Legajo,$("#ubicacion_id").val(),$("#sector_id").val(),$("#filtro").val() )

      });

        $("#sector_id").change(function () {
              var Legajo = @Html.Raw(Json.Serialize(ViewData["LegajoActual"]));
             //if($("#nro_legajo").val()!='')
       ObtenerLegajos($("#empresa_id").val(), Legajo, $("#ubicacion_id").val(), $("#sector_id").val(), $("#filtro").val());

           
         });

   $("#sector_id").focusout(function () {
              var Legajo = @Html.Raw(Json.Serialize(ViewData["LegajoActual"]));
             //if($("#nro_legajo").val()!='')
       ObtenerLegajos($("#empresa_id").val(), Legajo, $("#ubicacion_id").val(), $("#sector_id").val(), $("#filtro").val());

           
         });




         $("#empresa_id").focusout(function () {
              var Legajo = @Html.Raw(Json.Serialize(ViewData["LegajoActual"]));
             //if($("#nro_legajo").val()!='')
             ObtenerLegajos($("#empresa_id").val(), Legajo,$("#ubicacion_id").val(),$("#sector_id").val(),$("#filtro").val() )
         });


function mostrarModalSalida(){
    if ($("#btnGrabar").is(":visible"))
      $("#mdSalir").modal('show');
    else 
      window.location.href = "/Fichada/Index";
}
function mostrarModalGrabar(){
    $("#mdGrabar").modal('show');
}

function mostrarModalEliminar(){
    $("#mdEliminar").modal('show');
}


function mostrarModalRestaurar(){
    $("#mdRestaurar").modal('show');
}


function moverHoras(inicial){
    if (inicial <= 7) { $("#salida_4").val($("#entrada_4").val()); $("#entrada_4").val('');}
    if (inicial <= 6) { $("#entrada_4").val($("#salida_3").val()); $("#salida_3").val('');}
    if (inicial <= 5) { $("#salida_3").val($("#entrada_3").val()); $("#entrada_3").val('');}
    if (inicial <= 4) { $("#entrada_3").val($("#salida_2").val()); $("#salida_2").val('');}
    if (inicial <= 3) { $("#salida_2").val($("#entrada_2").val()); $("#entrada_2").val('');}
    if (inicial <= 2) { $("#entrada_2").val($("#salida_1").val()); $("#salida_1").val('');} 
    if (inicial == 1) { $("#salida_1").val($("#entrada_1").val()); $("#entrada_1").val('');}
}

function eliminarHora(inicial){
    if (inicial == 1) { $("#entrada_1").val($("#salida_1").val()); $("#salida_1").val('');}
    if (inicial <= 2) { $("#salida_1").val($("#entrada_2").val()); $("#entrada_2").val('');}
    if (inicial <= 3) { $("#entrada_2").val($("#salida_2").val()); $("#salida_2").val('');}
    if (inicial <= 4) { $("#salida_2").val($("#entrada_3").val()); $("#entrada_3").val('');}
    if (inicial <= 5) { $("#entrada_3").val($("#salida_3").val()); $("#salida_3").val('');}
    if (inicial <= 6) { $("#salida_3").val($("#entrada_4").val()); $("#entrada_4").val('');} 
    if (inicial <= 7) { $("#entrada_4").val($("#salida_4").val()); $("#salida_4").val('');}
}

 $(function () {
      $('#txtSelectedFecha').datepicker({
        changeMonth: true,
        changeYear: true,
        format: 'DD/MM/YYYY',
        language: "es"
        });
     });



    var ObtenerLegajo = function (empresa_id, nro_legajo) {
         $.ajax({
            url: '@Url.Action("ObtenerLegajo","Novedad")',
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            data: {
                empresa_id: empresa_id,
                nro_legajo: nro_legajo
            },
            success: function (data) {
                $('#apellido').text(data.apellido);
                $('#nombre').text(data.nombre);
             

               // habilitar_grabar(); 
            },
            error: function () {
            }
      });
    }
     


var ObtenerLegajoPorID = function (id) {
        var modo = @Html.Raw(Json.Serialize(ViewData["MODO"]));
         $.ajax({
            url: '@Url.Action("ObtenerLegajoPorID","Legajo")',
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            data: {
                id: id
            },
            success: function (data) {
                $('#apellido').text(data.apellido);
                $('#nombre').text(data.nombre);
                $('#nro_legajo').val(data.nro_legajo);

                //habilitar_grabar(); 
            },
            error: function () {
            }
      });
    }

var ObtenerEmpleados = function (filtro) {
         var CodEmpleado =@Html.Raw(Json.Serialize(ViewData["EmpleadoActual"]));

         $.ajax({
            url: '@Url.Action("ObtenerEmpleados","Legajo")',
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            data: {
                filtro: filtro
            },
            success: function (data) {
                $('#legajo_id').find('option').remove()
                if (data[0].value > 0) { 
                   ObtenerLegajoPorID(data[0].value);
                }
                $(data).each(
                    function (index, item) {    
                       
                        if (item.value==CodEmpleado || CodEmpleado==null && index==0)
                          $('#legajo_id').append('<option value="' + item.value + '" selected>' + item.text + '</option>')
                         else 
                          $('#legajo_id').append('<option value="' + item.value + '">' + item.text + '</option>')                        
                    }
                    );

                   HabilitarGrabar();
            },
            error: function () {
             
            }
      });
    }

      var ObtenerLegajos = function (empresa_id, nro_legajo, ubicacion_id, sector_id, filtro) {
             var CodEmpleado =@Html.Raw(Json.Serialize(ViewData["EmpleadoActual"]));
             var CodModo =@Html.Raw(Json.Serialize(ViewData["Modo"]));
             $.ajax({
                url: '@Url.Action("ObtenerLegajos","Legajo")',
                type: 'GET',
                contentType: 'application/json',
                dataType: 'json',
                data: {
                    empresa_id: empresa_id,
                    nro_legajo: nro_legajo,
                    ubicacion_id: ubicacion_id,
                    sector_id: sector_id,
                    filtro: filtro,
                    activo: 1
                },
                success: function (data) {

                   
                    $('#legajo_id').find('option').remove()
                    $(data).each(
                        function (index, item) {     
                            //if (item.value!=-1) { 
                             if (item.value==CodEmpleado)
                               $('#legajo_id').append('<option value="' + item.value + '" selected>' + item.text + '</option>')
                             else 
                              $('#legajo_id').append('<option value="' + item.value + '">' + item.text + '</option>')         
                           // }
                        }
                        ); 


                },
                error: function () {
                 
                }
          });
        }

      var ObtenerEmpresas = function () {
             var CodEmpresa =@Html.Raw(Json.Serialize(ViewData["EMPRESA_ID"]));
             $.ajax({
                url: '@Url.Action("ObtenerEmpresas","Legajo")',
                type: 'GET',
                data: {
                },
                success: function (data) {
                    $('#empresa_id').find('option').remove()
                    $(data).each(
                        function (index, item) {            
                            if (item.value==CodEmpresa)
                              $('#empresa_id').append('<option value="' + item.value + '" selected>' + item.text + '</option>')
                            else 
                              $('#empresa_id').append('<option value="' + item.value + '">' + item.text + '</option>')                        
                        });
                },
                error: function () {
                }
          });
        }


  var ObtenerUbicaciones = function () {
         var CodUbicacion =@Html.Raw(Json.Serialize(ViewData["UBICACION_ID"]));
         $.ajax({
            url: '@Url.Action("ObtenerUbicaciones","Legajo")',
            type: 'GET',
            data: {
            },
            success: function (data) {
                $('#ubicacion_id').find('option').remove()
                $(data).each(
                    function (index, item) {            
                        if (item.value==CodUbicacion)
                          $('#ubicacion_id').append('<option value="' + item.value + '" selected>' + item.text + '</option>')
                        else 
                          $('#ubicacion_id').append('<option value="' + item.value + '">' + item.text + '</option>')                        
                    });
            },
            error: function () {
            }
      });
    }

      var ObtenerSectores = function (ubicacion_id) {
             var CodSector = @Html.Raw(Json.Serialize(ViewData["SECTOR_ID"]));

             $.ajax({
                url: '@Url.Action("ObtenerSectores","Legajo")',
                type: 'GET',
                 data: {
                ubicacion_id: ubicacion_id
                },
                success: function (data) {
                    $('#sector_id').find('option').remove()
                    $(data).each(
                        function (index, item) {   
                            if (item.value==CodSector)
                              $('#sector_id').append('<option value="' + item.value + '" selected>' + item.text + '</option>')
                            else 
                              $('#sector_id').append('<option value="' + item.value + '">' + item.text + '</option>')
                        });
                },
                error: function () {
                }
          });
        }

        var ObtenerLocales = function () {
             var CodLocal = @Html.Raw(Json.Serialize(ViewData["SECTOR_ID"]));
             $.ajax({
                url: '@Url.Action("ObtenerLocales","Legajo")',
                type: 'GET',
                data: {
                },
                success: function (data) {
                    $('#sector_id').find('option').remove()
                    $(data).each(
                        function (index, item) {   
                            if (item.value==CodLocal)
                              $('#sector_id').append('<option value="' + item.value + '" selected>' + item.text + '</option>')
                            else 
                              $('#sector_id').append('<option value="' + item.value + '">' + item.text + '</option>')
                        });
                },
                error: function () {
                }
          });
        }


function HabilitarGrabar() {
     var Modo = @Html.Raw(Json.Serialize(ViewData["MODO"]));
    if ($("#tblItems tr").length>1 || $('#legajo_id').val() && Modo!="A" )
      $("#btnGrabar").show();
    else
     $("#btnGrabar").hide(); 
}

function Limpiar() {
  $("#apellido").val('').change();
  $("#nombre").val('').change();
  $("#filtro").val('').change();

  $("#empresa_id").val(-1).change();
  $("#ubicacion_id").val(-1).change();
  $("#sector_id").val(-1).change();
  $("#legajo_id").val(-1).change();
  $("#nro_legajo").val('');

  $("#tblItems").find("tr:gt(0)").remove();
  $("#tblFechas").find("tr:gt(0)").remove();

  $("input[type=time]").val('').change();

  $('#txtSelectedFecha').datepicker('setDate', "-0d");

  HabilitarGrabar();

  

    //document.getElementById("tblItems").deleteRow(rowIndex);   
}

function AgregarItem(
     id,
     nro_legajo,
     apellido,
     nombre
     ) 

  {

  if (id<0) return;
  if (nro_legajo=='') return;

  if (BuscarItem(id)>0) return;

  var table = document.getElementById("tblItems");
  var rowCount = table.rows.length;
  var row = table.insertRow(rowCount);
  var cell1 = row.insertCell(0);
  var cell2 = row.insertCell(1);
  var cell3 = row.insertCell(2);
  var cell4 = row.insertCell(3);
  var cell5 = row.insertCell(4);


  row.id="row_"+rowCount.toString();
     
  cell5.style.textAlign = "right";
  
  cell1.innerHTML = id;
  cell2.innerHTML = nro_legajo;
  cell3.innerHTML = apellido;
  cell4.innerHTML = nombre;
  cell5.innerHTML = "<a onclick='EliminarItem(" + rowCount + ")'><i data-mdb-toggle='tooltip' title='Eliminar'  class='bi bi-x-circle'></i></a>";

  $("#filtro").val('');

  HabilitarGrabar();
 // var cant = CalcularCantidadTotal();
   

}

function EliminarItem(id) {
    var clave= "row_"+id.toString();      
    var rowIndex = document.getElementById(clave).rowIndex;
    document.getElementById("tblItems").deleteRow(rowIndex);   

      HabilitarGrabar();
}

function BuscarItem(cod)
{

  var table = document.getElementById("tblItems");
  var rowCount = table.rows.length;
  for (var i=0; i<rowCount; i++)
  {
    if (table.rows[i].cells[0].innerHTML == cod )
        return i;
  }
  return -1;

}




function AgregarFecha(
   fecha
 ) 

  {


  if (BuscarFecha(fecha)>0) return;

  var table = document.getElementById("tblFechas");
  var rowCount = table.rows.length;
  var row = table.insertRow(rowCount);
  var cell1 = row.insertCell(0);
  var cell2 = row.insertCell(1);


  row.id="row_"+rowCount.toString();
     
  
  cell1.innerHTML = fecha;
  cell2.innerHTML = "<a onclick='EliminarFecha(" + rowCount + ")'><i data-mdb-toggle='tooltip' title='Eliminar'  class='bi bi-x-circle'></i></a>";

 // var cant = CalcularCantidadTotal();
   

}

function EliminarFecha(id) {
    var clave= "row_"+id.toString();      
    var rowIndex = document.getElementById(clave).rowIndex;
    document.getElementById("tblFechas").deleteRow(rowIndex);   
}

function BuscarFecha(cod)
{

  var table = document.getElementById("tblFechas");
  var rowCount = table.rows.length;
  for (var i=0; i<rowCount; i++)
  {
    if (table.rows[i].cells[0].innerHTML == cod )
        return i;
  }
  return -1;

}




function ObtenerLegajosID()
{
  var legajos = "";
  var table = document.getElementById("tblItems");
  var rowCount = table.rows.length;
  for (var i=1; i<rowCount; i++)
  {
    legajos = legajos + table.rows[i].cells[0].innerHTML;
    if (i < rowCount - 1) legajos = legajos + ",";
  }

  $('#legajos').text(legajos);   
  $('#legajos').val(legajos);  

  var fechas = "";
  var table = document.getElementById("tblFechas");
  var rowCount = table.rows.length;
  for (var i=1; i<rowCount; i++)
  {
    fechas = fechas + table.rows[i].cells[0].innerHTML;
    if (i < rowCount - 1) fechas = fechas + ",";
  }

  $('#fechas').text(fechas);   
  $('#fechas').val(fechas);  


  return legajos;

}

</script>


@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
