@model RRHH.Models.Legajo
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Legajo";
    var _perfil_id = @HttpContextAccessor.HttpContext.Session.GetInt32("PERFIL_ID");
}

<form  method="post">
<div class="container">
<h2>Legajo</h2>

           <div class="row">
                  <div class="col bottom-buffer">
                     <label asp-for="empresa_id" class="control-label">Empresa</label>
                     <select  class="form-control" id="empresa_id" asp-for="empresa_id" ></select>
                     <span class="alert-danger" asp-validation-for="empresa_id"></span>
                  </div>
                   <div class="col bottom-buffer">
                     <label asp-for="ubicacion_id" class="control-label">Ubicación</label>
                     <select  class="form-control" id="ubicacion_id" asp-for="ubicacion_id" ></select>
                     <span class="alert-danger" asp-validation-for="ubicacion_id"></span>
                  </div>
            </div>

            <div class="row ">
                <div class="col bottom-buffer">
                   <label asp-for="nro_legajo" class="control-label">Nro. Legajo</label>
                   <input asp-for="nro_legajo" id="nro_legajo" type="number" class="form-control"  />
                   <span class="alert-danger" asp-validation-for="nro_legajo"></span>
                </div>
           </div>

           <div class="row ">
                 <div class="col bottom-buffer">
                    <label asp-for="nombre" class="control-label">Nombre</label>
                    <input asp-for="nombre" class="form-control" />
                     <span class="alert-danger" asp-validation-for="nombre"></span>
                 </div>
                 <div class="col bottom-buffer">
                    <label asp-for="apellido" class="control-label">Apellido</label>
                    <input asp-for="apellido" class="form-control" />
                     <span class="alert-danger" asp-validation-for="apellido"></span>
                 </div>
                  <div class="col bottom-buffer">
                     <label asp-for="genero_id" class="control-label">Género</label>
                     <select  class="form-control" id="genero_id" asp-for="genero_id" ></select>
                     <span class="alert-danger" asp-validation-for="genero_id"></span>
                  </div>
             </div>

                <div class="row">
                   <div class="col bottom-buffer" id="divSector">
                     <label asp-for="sector_id" class="control-label">Sector</label>
                     <select  class="form-control" id="sector_id" asp-for="sector_id" ></select>
                     <span class="alert-danger" asp-validation-for="sector_id"></span>
                  </div>
                  <div class="col bottom-buffer" id="divLocal">
                     <label asp-for="local_id" class="control-label">Local</label>
                     <select  class="form-control" id="local_id" asp-for="local_id" ></select>
                     <span class="alert-danger" asp-validation-for="local_id"></span>
                  </div>
                </div>

                <div class="row">
               

                  <div class="col bottom-buffer">
                     <label asp-for="categoria_id" class="control-label">Categoría</label>
                     <select  class="form-control" id="categoria_id" asp-for="categoria_id" ></select>
                      <span class="alert-danger" asp-validation-for="categoria_id"></span>

                 </div>

                 <div class="col bottom-buffer">
                     <label asp-for="funcion_id" class="control-label">Función</label>
                     <select  class="form-control" id="funcion_id" asp-for="funcion_id" ></select>
                     <span class="alert-danger" asp-validation-for="funcion_id"></span>
                  </div>
               </div>

               <div class="row">
                 <div class="col bottom-buffer btns2" id="divFechaAlta">
                      <label asp-for="fecha_alta" class="control-label">Fecha Ingreso</label><br />
                      <input type="text" id="txtSelectedFechaAlta" name="fecha_alta"  asp-for="fecha_alta" />

                 </div>
                   <div class="col bottom-buffer btns2" id="divFechaBaja">
                      <label asp-for="fecha_baja" class="control-label">Fecha Baja</label><br />
                      <input type="text" id="txtSelectedFechaBaja" name="fecha_baja"  asp-for="fecha_baja" />

                 </div>
              </div>

               
              <div class="row">
                <div class="col bottom-buffer"  id="divObservacion">
                  <label asp-for="observacion" class="control-label">Observación</label>
                  <input asp-for="observacion" class="form-control" id="observacion" />
                   <span class="alert-danger" asp-validation-for="observacion"></span>
                </div>
              </div>

               <div class="row " id="divInsertar">
                    <div class="col bottom-buffer">
                          <a  value=""  class="btn btn-outline-danger" onclick="mostrarModalSalida();" >Salir</a>
                          @if (_perfil_id <=3) {
                           <button id="btnGrabar" type="submit" asp-route-modo=@ViewData["MODO"] class="btn btn-outline-success"   >Grabar</button>
                          }
                    </div>
                </div>
   
    </div>




      <!-- Modal Grabar -->
    <div class="modal fade" id="mdGrabar" tabindex="-1" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" >Legajo</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Confirma los cambios hechos?
          </div>
          <div class="modal-footer">
              <button type="submit" asp-route-modo=@ViewData["MODO"] class="btn btn-outline-success" >SI</button>
              <a class="btn btn-outline-danger" data-bs-dismiss="modal" >NO</a>
          </div>
        </div>
      </div>
    </div>



    <!-- Modal Salir -->
    <div class="modal fade" id="mdSalir" tabindex="-1" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" >Legajo</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Se perderán los cambios efectuados. Está seguro?
          </div>
          <div class="modal-footer">
            <a asp-action="Index" asp-route-empresa_id=@ViewData["EMPRESA_ID"] asp-route-nro_legajo=@ViewData["NRO_LEGAJO"] asp-route-apellido=@ViewData["APELLIDO"] class="btn btn-outline-success"  Text="SI">SI</a>
            <a class="btn btn-outline-danger" data-bs-dismiss="modal" >NO</a>
          </div>
        </div>
      </div>
    </div>

     </form>


     <script type="text/javascript">


    $(document).ready(function () {

        var Modo =  @Html.Raw(Json.Serialize(@ViewData["MODO"]));
        var CodGenero = @Html.Raw(Json.Serialize(Model.genero_id));
        var Apellido = @Html.Raw(Json.Serialize(Model.apellido));
        var Nombre = @Html.Raw(Json.Serialize(Model.nombre));
        var CodSector = @Html.Raw(Json.Serialize(Model.sector_id));
        var CodUbicacion = @Html.Raw(Json.Serialize(Model.ubicacion_id));

        if (Modo == "E") {
           $('#nro_legajo').prop('readonly', true);
         }

        ObtenerUbicaciones();
    

       if (CodUbicacion==1 || CodUbicacion==2) {
            ObtenerSectores(CodUbicacion);
            $("#divSector").show();
            $("#local_id").val(-1);
            $("#divLocal").hide();
        }
        else {
           if (CodUbicacion == 3) {
               ObtenerLocales();
               $("#divLocal").show();
               $("#sector_id").val(-1);
               $("#divSector").hide();
           }
           else {
               $("#divLocal").hide();
                $("#local_id").val(-1);
               $("#sector_id").val(-1);
               $("#divSector").hide();
           }
        }

         ObtenerGeneros();
         //ObtenerSectores();
         //ObtenerLocales();
         ObtenerCategorias();
         ObtenerEmpresas();
         ObtenerFunciones();
 
          $('#txtSelectedFechaAlta').datepicker({format: 'dd/mm/yyyy' });
          $('#txtSelectedFechaBaja').datepicker({format: 'dd/mm/yyyy' });

       })

      $("#ubicacion_id").change(function () {
       if ($("#ubicacion_id").val() == 1 || $("#ubicacion_id").val() == 2) {
            ObtenerSectores($("#ubicacion_id").val());
            $("#divSector").show();
            $("#local_id").val(-1);
            $("#divLocal").hide();
        }
        else {
            ObtenerLocales();
            $("#divLocal").show();
            $("#sector_id").val(-1);
            $("#divSector").hide();
        }
      });


      function mostrarModalSalida(){
        if ($("#btnGrabar").is(":visible"))
          $("#mdSalir").modal('show');
        else 
          window.location.href = "/Legajo/Index";
      }

      function mostrarModalGrabar(){
        $("#mdGrabar").modal('show');
      }

       var ObtenerGeneros = function () {
             var CodGenero = @Html.Raw(Json.Serialize(Model.genero_id));
             $.ajax({
                url: '@Url.Action("ObtenerGeneros","Legajo")',
                type: 'GET',
                data: {
                },
                success: function (data) {
                    $('#genero_id').find('option').remove()
                    $(data).each(
                        function (index, item) {   
                            if (item.value==CodGenero)
                              $('#genero_id').append('<option value="' + item.value + '" selected>' + item.text + '</option>')
                            else 
                              $('#genero_id').append('<option value="' + item.value + '">' + item.text + '</option>')
                        });
                },
                error: function () {
                }
          });
        }

       var ObtenerUbicaciones = function () {
         var CodUbicacion =@Html.Raw(Json.Serialize(Model.ubicacion_id));
         $.ajax({
            url: '@Url.Action("ObtenerUbicaciones","Legajo")',
            type: 'GET',
            data: {
            },
            success: function (data) {
                $('#ubicacion_id').find('option').remove()
                $(data).each(
                    function (index, item) {            
                        if (item.value==CodUbicacion)
                          $('#ubicacion_id').append('<option value="' + item.value + '" selected>' + item.text + '</option>')
                        else 
                          $('#ubicacion_id').append('<option value="' + item.value + '">' + item.text + '</option>')                        
                    });
            },
            error: function () {
            }
      });
    }

      var ObtenerSectores = function (ubicacion_id) {
             var CodSector = @Html.Raw(Json.Serialize(Model.sector_id));

             $.ajax({
                url: '@Url.Action("ObtenerSectores","Legajo")',
                type: 'GET',
                 data: {
                ubicacion_id: ubicacion_id
                },
                success: function (data) {
                    $('#sector_id').find('option').remove()
                    $(data).each(
                        function (index, item) {   
                            if (item.value==CodSector)
                              $('#sector_id').append('<option value="' + item.value + '" selected>' + item.text + '</option>')
                            else 
                              $('#sector_id').append('<option value="' + item.value + '">' + item.text + '</option>')
                        });
                },
                error: function () {
                }
          });
        }

        var ObtenerLocales = function () {
             var CodLocal = @Html.Raw(Json.Serialize(Model.local_id));
             $.ajax({
                url: '@Url.Action("ObtenerLocales","Legajo")',
                type: 'GET',
                data: {
                },
                success: function (data) {
                    $('#local_id').find('option').remove()
                    $(data).each(
                        function (index, item) {   
                            if (item.value==CodLocal)
                              $('#local_id').append('<option value="' + item.value + '" selected>' + item.text + '</option>')
                            else 
                              $('#local_id').append('<option value="' + item.value + '">' + item.text + '</option>')
                        });
                },
                error: function () {
                }
          });
        }


      var ObtenerCategorias = function () {
             var CodCategoria =@Html.Raw(Json.Serialize(Model.categoria_id));
             $.ajax({
                url: '@Url.Action("ObtenerCategorias","Legajo")',
                type: 'GET',
                data: {
                },
                success: function (data) {
                    $('#categoria_id').find('option').remove()
                    $(data).each(
                        function (index, item) {            
                            if (item.value==CodCategoria)
                              $('#categoria_id').append('<option value="' + item.value + '" selected>' + item.text + '</option>')
                            else 
                              $('#categoria_id').append('<option value="' + item.value + '">' + item.text + '</option>')                        
                        });
                },
                error: function () {
                }
          });
        }


    var ObtenerFunciones = function () {
             var CodFuncion =@Html.Raw(Json.Serialize(Model.funcion_id));
             $.ajax({
                url: '@Url.Action("ObtenerFunciones","Legajo")',
                type: 'GET',
                data: {
                },
                success: function (data) {
                    $('#funcion_id').find('option').remove()
                    $(data).each(
                        function (index, item) {            
                            if (item.value==CodFuncion)
                              $('#funcion_id').append('<option value="' + item.value + '" selected>' + item.text + '</option>')
                            else 
                              $('#funcion_id').append('<option value="' + item.value + '">' + item.text + '</option>')                        
                        });
                },
                error: function () {
                }
          });
        }

     var ObtenerEmpresas = function () {
             var CodEmpresa =@Html.Raw(Json.Serialize(Model.empresa_id));
             $.ajax({
                url: '@Url.Action("ObtenerEmpresas","Legajo")',
                type: 'GET',
                data: {
                },
                success: function (data) {
                    $('#empresa_id').find('option').remove()
                    $(data).each(
                        function (index, item) {            
                            if (item.value==CodEmpresa)
                              $('#empresa_id').append('<option value="' + item.value + '" selected>' + item.text + '</option>')
                            else 
                              $('#empresa_id').append('<option value="' + item.value + '">' + item.text + '</option>')                        
                        });
                },
                error: function () {
                }
          });
        }

     $(function () {
      $('#txtSelectedFechaAlta').datepicker({
        changeMonth: true,
        changeYear: true,
        format: "dd/mm/yyyy",
        language: "es"
        });
       $('#txtSelectedFechaBaja').datepicker({
        changeMonth: true,
        changeYear: true,
        format: "dd/mm/yyyy",
        language: "es"
        }); 
     });


    </script>


    @if (ViewBag.Message != null)
{
        <script type="text/javascript">
                window.onload = function () {
                    alert("@ViewBag.Message");
                };
        </script>
}

@section Scripts
{
<partial name="_ValidationScriptsPartial" />
}
