@model IEnumerable<RRHH.Models.Legajo>
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Index";
    var _perfil_id = @HttpContextAccessor.HttpContext.Session.GetInt32("PERFIL_ID");
    var pagina = @HttpContextAccessor.HttpContext.Session.GetInt32("PAG_LEGAJO");
    var total_paginas = @HttpContextAccessor.HttpContext.Session.GetInt32("TOT_PAG_LEGAJO");
}

<form asp-controller="Legajo"  method="post" enctype="multipart/form-data" >

         

         

 <div class="container">
     <div class="jumbotron text-center Titulo bottom-buffer ">
      <h2>Legajos</h2>
      <a href="#" onclick='ToggleBusquedaAvanzada()'>Búsqueda Avanzada</a> | <a href="#" onclick='ToggleImportarLegajos()'>Importar de Excel</a>
    </div>

      <center>
         @if (_perfil_id <=3)
         {
           <div class="row bottom-buffer" id="divImportarLegajos">
              <div class="col bottom-buffer">
                 <div class="btns2">             
                     <input type="file" name="file" />
                      <button id="btnImportar" type="submit" asp-action="importar" class="btn btn-outline-success">Importar</button>
                 </div>
              </div>
            </div>
         }
@*

            <div class="d-flex justify-content-center align-items-center container ">


                <div class="input-group mb-3">
                      <span class="input-group-text">Ubicación</span>            
                      <select  class="form-control" name="ubicacion_id" id="ubicacion_id" value="@ViewData["UBICACION_ID"]"></select>
                      <span class="input-group-text">Sector/Local</span>            
                      <select  class="form-control" name="sector_id" id="sector_id" value="@ViewData["SECTOR_ID"]"></select>   
               </div>
            </div>*@

@*            <div class="d-flex justify-content-center align-items-center container " hidden >

                <div class="input-group mb-3" hidden>
                    <span class="input-group-text">Empresa</span>            
                    <select  class="form-control" name="empresa_id" id="empresa_id" value="@ViewData["EMPRESA_ID"]" ></select>           		       
                    <span class="input-group-text">Legajo:</span>
                     <input name="nro_legajo" id="nro_legajo" value="@ViewData["NRO_LEGAJO"]" type="number" class="form-control" />   
                     <span class="input-group-text">Apellido:</span>
                     <input name="apellido" id="apellido" value="@ViewData["APELLIDO"]" class="form-control" />   
                </div>
            </div>*@


           <div class="row mb-3" >
             <div class="col-lg-2 col-xs-6 mb-3">
                  <label for="filtro">Legajo / Apellido</label>
                  <input name="filtro" id="filtro"  placeholder="Filtro" value="@ViewData["FiltroActual"]" class="form-control" />                                          
			</div>
			<div class="col-lg-6 col-xs-6 mb-3" id="divEmpleado">
                <label for="empresa_id">Empleado</label>
                <select  data-filter="model" class="form-control" name="empleado_id" id="empleado_id" value="@ViewData["EmpleadoActual"]" ></select>           
			</div>

          </div>  

         <div class="row mb-3" id="divBusquedaAvanzada" >
            <div class="col-sm-4 col-xs-6 mb-3">
               <label for="ubicacion_id">Ubicación</label>
			   <select name="ubicacion_id" id="ubicacion_id" data-filter="make" class="filter-make filter form-control" value="@ViewData["UBICACION_ID"]"></select>
			</div>
             <div class="col-sm-4 col-xs-6 mb-3">
               <label for="sector_id">Sector/Local</label>
			   <select name="sector_id" id="sector_id" data-filter="make" class="filter-make filter form-control"  value="@ViewData["SECTOR_ID"]"></select>
			</div>
         </div>

         <div class="row mb-3" >
           <div class="col">
             <input type="submit" value="Buscar" id="buscar" asp-action="Index" class="btn btn-primary" />
             <input type="submit" value="Limpiar" asp-action="Reset" class="btn btn-primary" title="Limpiar todos los datos de la búsqueda"  />
              @if (_perfil_id <=3)
             {
               <a type="button" id="cmdNuevo" class="btn btn-success" asp-controller="Legajo" asp-action="Edit" asp-route-modo="A">NUEVO LEGAJO</a>
             }
           </div>
         </div>

        <div class="row">
            <div class="col bottom-buffer">
                <span id="spanTitulo"></span>
            </div>
        </div>

@*         @if (_perfil_id <=3)
         {
          <div class="row bottom-buffer">
            <div class="col bottom-buffer">
                <div class="btns2">
                    <a type="button" id="cmdNuevo" class="btn btn-outline-primary" asp-controller="Legajo" asp-action="Edit" asp-route-modo="A">NUEVO LEGAJO</a>

                </div>
            </div>

            <div class="col bottom-buffer">
                <div class="btns2">
                     <input type="file" name="file" />
                      <button id="btnImportar" type="submit" asp-action="importar" class="btn btn-outline-success">Importar</button>
                </div>
            </div>

                </div>
            }*@

            @* <div class="d-flex justify-content-center align-items-center container ">
            <div class="row">
                <div class="col bottom-buffer badge bg-secondary">
                    <span id="spanCantidad" class="BarraCantidad">Cantidad  de usuarios: @Model.Count()</span>
                </div>
            </div>
        </div>*@


            <div class="d-flex d-flex justify-content-center">
                @if (@ViewBag.Message==null)
                {
                    @if (pagina > 1)
                    {
                        <a class="p-2 bd-highlight" asp-action="Anterior">Anterior</a>
                    }
                    @if (total_paginas > 0)
                    {
                        <span class="p-2 bd-highlight">Pág. @pagina de @total_paginas - Cantidad: @ViewData["TOTAL_LEGAJOS"]</span>
                    }
                    @if (pagina < total_paginas)
                    {
                        <a class="p-2 bd-highlight" asp-action="Siguiente">Siguiente</a>
                    }

                    @if (total_paginas == 0)
                    {
                        <span>Pág. @pagina de @total_paginas</span>
                    }
                }
                else
                {
                   <div class="p-2 bd-highlight">No hay novedades para el criterio seleccionado</div>
                }

           </div>

            @if (@Model != null)
            {
                <div class="row">
                    <div class="col bottom-buffer">
                        <div class="table-responsive">


                 <table class="table table-bordered table-hover">
                 <thead>
                        <tr>
                          <th>Empresa</th>
                          <th>Nro. Legajo</th>
                          <th>Nombre</th>
                          <th>Apellido</th>
                           <th>Ubicación</th>
                           <th>Sector/Local</th>
                           <th>Categoría</th>
                           <th></th>
                         </tr>
                 </thead>
                 <tbody>
                    @foreach (var item in Model)
                    {
@*                        <tr style="cursor: pointer;"  onclick="location.href = '@(Url.Action("Edit", "Legajo", new { modo="V", id=@item.id }))'">
*@                        <tr >

                            <td>
                                @item.empresa
                            </td>
                            <td>
                                @item.nro_legajo
                            </td>
                            <td>
                                @item.nombre
                            </td>
                            <td>
                                @item.apellido
                            </td>
                            <td>
                                @item.ubicacion
                            </td>
                            <td> 
                                @if (@item.ubicacion_id == 1 || @item.ubicacion_id == 2)
                                {
                                    @item.sector
                                }
                                else
                                {
                                    @item.local
                                }
                            </td>
                            <td>
                                @item.categoria
                            </td>


                                <td>
                                    <a asp-controller="Legajo" asp-action="Edit" asp-route-modo="E" asp-route-id=@item.id><i data-mdb-toggle='tooltip' title='Editar el Legajo' class='bi bi-pencil-square'></i></a>
                                    <a asp-controller="Novedad" asp-action="Edit" asp-route-modo="A" asp-route-legajo_id=@item.id  asp-route-filtro=@item.nro_legajo asp-route-empresa_id=@item.empresa_id asp-route-nro_legajo=@item.nro_legajo asp-route-ubicacion_id=@item.ubicacion_id asp-route-sector_id=@item.sector_id asp-route-local_id=@item.local_id asp-route-apellido="@item.apellido" asp-route-origen="L"><i data-mdb-toggle='tooltip' title='Ingresar Novedad' class='bi  bi-calendar2-plus'></i></a>
                                     @if (_perfil_id <= 3)
                                    {
                                        <a onclick="mostrarModalEliminar('@item.id');" ><i data-mdb-toggle='tooltip' title='Eliminar el Legajo'  class='bi bi-x-circle'></i></a>
                                    }

                                </td>
                        </tr>

                    }
                </tbody>
                </table>
                </div>
                </div>
                </div>
            }
         </center>


    <!-- Modal Eliminar Usuario -->

    <div class="modal fade" id="mdEliminar" tabindex="-1" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
              
                        <div class="modal-header">
                            <h5 class="modal-title">Legajo</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>


                        <div class="modal-body">
                            Se eliminará el legajo con todos sus datos. Está seguro?
                             <input id="hfID" name="hfID" type="hidden" >
                        </div>
                        <div class="modal-footer">
                             <button id="btnEliminar" type="submit" asp-action="Delete" value="" class="btn btn-outline-success"  >SI</button>
                             <a class="btn btn-outline-danger" data-bs-dismiss="modal" >NO</a>
                        </div>
          

            </div>
        </div>
    </div>
    </div>
</form>

 <script type="text/javascript">

  $(document).ready(function() {

    var CodUbicacion = @Html.Raw(Json.Serialize(ViewData["UBICACION_ID"]));
    var Filtro = @Html.Raw(Json.Serialize(ViewData["FiltroActual"]));


    if ($("#nro_legajo").val() == 0) 
    {
        $("#nro_legajo").val('');
    }

     if (CodUbicacion>0)
       $("#divBusquedaAvanzada").show();
     else
       $("#divBusquedaAvanzada").hide();

     $("#divImportarLegajos").hide();

      ObtenerEmpresas();

       ObtenerUbicaciones();

       if (CodUbicacion== 1 || CodUbicacion == 2) {
            ObtenerSectores(CodUbicacion);
            //$("#divSector").show();
            //$("#local_id").val(-1);
            //$("#divLocal").hide();
        }
        else {
           if (CodUbicacion ==3) {
               ObtenerLocales();
              // $("#divLocal").show();
              // $("#sector_id").val(-1);
              // $("#divSector").hide();
           }
            else {
                $("#sector_id").val(-1);
              //  $("#local_id").val(-1);
              //  $("#divSector").hide();
               // $("#divLocal").hide();
           }
        }

        
       if (Filtro != null  && Filtro!='') { 
         $("#divEmpleado").show();
       }
       else { 
         $("#divEmpleado").hide();
         $("#legajo_id").val(-1).change();
       }

       ObtenerEmpleados(Filtro);


      // ObtenerSectores(1);
      //ObtenerLocales();

       //if (CodUbicacion==1 || CodUbicacion==2) {
       //     ObtenerSectores(CodUbicacion);
       //     //$("#divSector").show();
       //     $("#local_id").val(-1);
       //     //$("#divLocal").hide();
       // }
       // else {
       //    if (CodUbicacion == 3) {
       //        ObtenerLocales();
       //        //$("#divLocal").show();
       //        $("#sector_id").val(-1);
       //        $("#divSector").hide();
       //    }
       //    else {
       //        //$("#divLocal").hide();
       //         $("#local_id").val(-1);
       //        $("#sector_id").val(-1);
       //        //$("#divSector").hide();
       //    }
       // }

 
  });


 
    $("#ubicacion_id").change(function () {
       if ($("#ubicacion_id").val() == 1 || $("#ubicacion_id").val() == 2) {
            ObtenerSectores($("#ubicacion_id").val());
           // $("#divSector").show();
           // $("#local_id").val(-1);
           // $("#divLocal").hide();
        }
        else {
           if ($("#ubicacion_id").val() == 3) {
               ObtenerLocales();
               //$("#divLocal").show();
              // $("#sector_id").val(-1);
               //$("#divSector").hide();
           }
           else {
                $("#sector_id").val(-1);
               //  $("#local_id").val(-1);
               //  $("#divSector").hide();
               //  $("#divLocal").hide();
           }
        }
      });

     $("#filtro").change(function () {

         
         if ($("#filtro").val() != '') {            
             $("#divEmpleado").show();
         }
         else {
           $("#divEmpleado").hide();
           $("#legajo_id").val(-1).change();
         }

        ObtenerEmpleados($("#filtro").val());
     });

      $("#nro_legajo").change(function () {
           if($("#nro_legajo").val()!='')
         ObtenerLegajo($("#empresa_id").val(), $("#nro_legajo").val())
     });
      	
     $("#nro_legajo").focusout(function () {
          if($("#nro_legajo").val()!='')
         ObtenerLegajo($("#empresa_id").val(), $("#nro_legajo").val())
     });

      $("#empresa_id").change(function () {
         if($("#nro_legajo").val()!='')
         ObtenerLegajo($("#empresa_id").val(), $("#nro_legajo").val())
     });


     $("#empresa_id").focusout(function () {
         if($("#nro_legajo").val()!='')
         ObtenerLegajo($("#empresa_id").val(), $("#nro_legajo").val())
     });


  var ObtenerEmpresas = function () {
             var CodEmpresa =@Html.Raw(Json.Serialize(ViewData["EMPRESA_ID"]));
             $.ajax({
                url: '@Url.Action("ObtenerEmpresas","Legajo")',
                type: 'GET',
                data: {
                },
                success: function (data) {
                    $('#empresa_id').find('option').remove()
                    $(data).each(
                        function (index, item) {            
                            if (item.value==CodEmpresa)
                              $('#empresa_id').append('<option value="' + item.value + '" selected>' + item.text + '</option>')
                            else 
                              $('#empresa_id').append('<option value="' + item.value + '">' + item.text + '</option>')                        
                        });
                },
                error: function () {
                }
          });
        }


  var ObtenerUbicaciones = function () {
         var CodUbicacion =@Html.Raw(Json.Serialize(ViewData["UBICACION_ID"]));
         $.ajax({
            url: '@Url.Action("ObtenerUbicaciones","Legajo")',
            type: 'GET',
            data: {
            },
            success: function (data) {
                $('#ubicacion_id').find('option').remove()
                $(data).each(
                    function (index, item) {            
                        if (item.value==CodUbicacion)
                          $('#ubicacion_id').append('<option value="' + item.value + '" selected>' + item.text + '</option>')
                        else 
                          $('#ubicacion_id').append('<option value="' + item.value + '">' + item.text + '</option>')                        
                    });
            },
            error: function () {
            }
      });
    }

      var ObtenerSectores = function (ubicacion_id) {
             var CodSector = @Html.Raw(Json.Serialize(ViewData["SECTOR_ID"]));

             $.ajax({
                url: '@Url.Action("ObtenerSectores","Legajo")',
                type: 'GET',
                 data: {
                ubicacion_id: ubicacion_id
                },
                success: function (data) {
                    $('#sector_id').find('option').remove()
                    $(data).each(
                        function (index, item) {   
                            if (item.value==CodSector)
                              $('#sector_id').append('<option value="' + item.value + '" selected>' + item.text + '</option>')
                            else 
                              $('#sector_id').append('<option value="' + item.value + '">' + item.text + '</option>')
                        });
                },
                error: function () {
                }
          });
        }

        var ObtenerLocales = function () {
             var CodLocal = @Html.Raw(Json.Serialize(ViewData["LocalActual"]));
             $.ajax({
                url: '@Url.Action("ObtenerLocales","Legajo")',
                type: 'GET',
                data: {
                },
                success: function (data) {
                    $('#sector_id').find('option').remove()
                    $(data).each(
                        function (index, item) {   
                            if (item.value==CodLocal)
                              $('#sector_id').append('<option value="' + item.value + '" selected>' + item.text + '</option>')
                            else 
                              $('#sector_id').append('<option value="' + item.value + '">' + item.text + '</option>')
                        });
                },
                error: function () {
                }
          });
        }

        var ObtenerLegajo = function (empresa_id, nro_legajo) {
         $.ajax({
            url: '@Url.Action("ObtenerLegajo","Novedad")',
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            data: {
                empresa_id: empresa_id,
                nro_legajo: nro_legajo
            },
            success: function (data) {

                $('#apellido').val(data.apellido);
                $('#empresa_id').val(data.empresa_id);

            },
            error: function () {
            }
      });
    }
	
  var ObtenerEmpleados = function (filtro) {
         var CodEmpleado =@Html.Raw(Json.Serialize(ViewData["EmpleadoActual"]));

         $.ajax({
            url: '@Url.Action("ObtenerEmpleados","Legajo")',
            type: 'GET',
            contentType: 'application/json',
            dataType: 'json',
            data: {
                filtro: filtro
            },
            success: function (data) {
                $('#empleado_id').find('option').remove()
                if (data[0].value > 0) { 
                   $('#txtSelectedFechaNovedadDesde').val('');
                   $('#txtSelectedFechaNovedadHasta').val('');
                }
                $(data).each(
                    function (index, item) {            
                        if (item.value==CodEmpleado)
                          $('#empleado_id').append('<option value="' + item.value + '" selected>' + item.text + '</option>')
                         else 
                          $('#empleado_id').append('<option value="' + item.value + '">' + item.text + '</option>')                        
                    }
                    );
            },
            error: function () {
             
            }
      });
    }

    function ToggleBusquedaAvanzada(){   
           $('#divBusquedaAvanzada').toggle();

     }

     function ToggleImportarLegajos(){   
           $('#divImportarLegajos').toggle();

     }

    function mostrarModalEliminar(nro_legajo){
      $("#hfID").val(nro_legajo);
      $("#mdEliminar").modal('show');
     }
</script>

@*@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
*@