@model IEnumerable<RRHH.Models.Legajo>
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "Index";
    var _perfil_id = @HttpContextAccessor.HttpContext.Session.GetInt32("PERFIL_ID");

}

<form asp-controller="Legajo"  method="post" enctype="multipart/form-data" >

         

         

 <div class="container">
     <div class="jumbotron text-center Titulo bottom-buffer ">
      <h2>Legajos</h2>
    </div>

      <center>

            
            <div class="d-flex justify-content-center align-items-center container ">

                <div class="input-group mb-3">
                    <span class="input-group-text">Legajo:</span>
                     <input name="nro_legajo" id="nro_legajo" value="@ViewData["LegajoActual"]" type="number" class="form-control" />   
                     <span class="input-group-text">Apellido:</span>
                     <input name="apellido" id="apellido" value="@ViewData["ApellidoActual"]" class="form-control" />   
                    <input type="submit" value="Buscar" class="btn btn-outline-primary" />
                </div>
            </div>


        <div class="row">
            <div class="col bottom-buffer">
                <span id="spanTitulo"></span>
            </div>
        </div>

         @if (_perfil_id <=2)
         {
          <div class="row bottom-buffer">
            <div class="col bottom-buffer">
                <div class="btns2">
                    <a type="button" id="cmdNuevo" class="btn btn-outline-primary" asp-controller="Legajo" asp-action="Edit" asp-route-modo="A">NUEVO LEGAJO</a>

                </div>
            </div>

            <div class="col bottom-buffer">
                <div class="btns2">
                     <input type="file" name="file" />
                      <button id="btnImportar" type="submit" asp-action="importar" class="btn btn-outline-success">Importar</button>
                </div>
            </div>

          </div>
        }

       @* <div class="d-flex justify-content-center align-items-center container ">
            <div class="row">
                <div class="col bottom-buffer badge bg-secondary">
                    <span id="spanCantidad" class="BarraCantidad">Cantidad  de usuarios: @Model.Count()</span>
                </div>
            </div>
        </div>*@

        <div class="row">
            <div class="col bottom-buffer">
                <div class="table-responsive">


                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Empresa</th>
                            <th>Nro. Legajo</th>
                            <th>Nombre</th>
                            <th>Apellido</td>
                            <th>Sector</th>
                            <th>Categoría</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                     @foreach (var item in Model)
                     {
                     <tr>
                      <td>
                          @item.empresa
                      </td>
                      <td>
                          @item.nro_legajo
                     </td>
                      <td>
                          @item.nombre
                     </td>
                     <td>
                          @item.apellido
                     </td>
                     <td>
                          @item.sector
                     </td>
                     <td>
                          @item.categoria
                     </td>

                     <td>
                        <td>
                          <a asp-controller="Legajo" asp-action="Edit" asp-route-modo="E" asp-route-id=@item.id><i data-mdb-toggle='tooltip' title='Editar el Legajo' class='bi bi-pencil-square'></i></a>
                         <a asp-controller="Novedad" asp-action="Index" asp-route-modo="E" asp-route-nro_legajo=@item.nro_legajo><i data-mdb-toggle='tooltip' title='Novedades' class='bi  bi-calendar2-plus'></i></a>
                         @if (_perfil_id <=2)
                         {
                                <a onclick="mostrarModalEliminar('@item.id');" ><i data-mdb-toggle='tooltip' title='Eliminar el Legajo'  class='bi bi-x-circle'></i></a>
                         }

                    </td>
                    </tr>  
                    
                 }
                 </tbody>
                </table>
              </div>
            </div>
         </div>

         </center>


    <!-- Modal Eliminar Usuario -->

    <div class="modal fade" id="mdEliminar" tabindex="-1" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
              
                        <div class="modal-header">
                            <h5 class="modal-title">Legajo</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>


                        <div class="modal-body">
                            Se eliminará el legajo con todos sus datos. Está seguro?
                             <input id="hfID" name="hfID" type="hidden" >
                        </div>
                        <div class="modal-footer">
                             <button id="btnEliminar" type="submit" asp-action="Delete" value="" class="btn btn-outline-success"  >SI</button>
                             <a class="btn btn-outline-danger" data-bs-dismiss="modal" >NO</a>
                        </div>
          

            </div>
        </div>
    </div>
    </div>
</form>

 <script type="text/javascript">

  $(document).ready(function() {
    if ($("#nro_legajo").val() == 0) 
    {
        $("#nro_legajo").val('');
    }

 
  });
    function mostrarModalEliminar(nro_legajo){
      $("#hfID").val(nro_legajo);
      $("#mdEliminar").modal('show');
     }
</script>
